body {
    padding-top: 56px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}



.detail-top-right {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}
.detail-top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 1;
}
.detail-bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    z-index: 1;
}
.detail-bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    z-index: 1;
}
.your-note {
    position: absolute;
    bottom: 1px;
    right: 0px;
    opacity:0.8;
    /*border-bottom-left-radius: 0.25rem;*/
    z-index: 101;
}
.additional-info {
    position: absolute;
    bottom: 1px;
    left: 0px;
    max-width: 40%;
    /*border-bottom-left-radius: 0.25rem;*/
    font-size:0.8rem;
    padding-left:0.2rem;
    padding-right:0.2rem;
    z-index:101;
}
.additional-info-small{
    width:12px;
    height:12px;
}
.additional-info-rules {
    position: absolute;
    bottom: 1px;
    right: 0px;
    max-width: 40%;
    background-color: yellow;
    color: black;
    /*border-bottom-left-radius: 0.25rem;*/
    font-size: 0.8rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    z-index: 101;
}
.detail-image {
    max-height: 200px;
    overflow: hidden;
}
.detail-sym {
    max-height: 35px;
    overflow: hidden;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-bottom: 0 !important;
    margin-top: .2rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 50%;
}

.wrapper-sidebar {
    display: block;
}
#divSearchSidebar.active {
    left: 0;
}
#divSearchSidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: -188px;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    padding-top: 56px;
}
#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.sidebar-collapse {
    display:flex;
    align-items:center;
    margin-left:auto;
    cursor:pointer;
}

.search-button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    display: flex;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    cursor: pointer;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
}
.search-button input {
    opacity: 0;
    width: 0;
    height: 0;
    position:absolute;
    cursor:pointer
}
.rule-section {
    font-size: 0.8rem;
}
.list-group-item {
    padding: 0.55rem 1rem;
}
.shorthand-box {
    border: 1px solid black;
    background-color: #fef8f4;
}

.RedSignupButton {
    background-color: #c83737; /* Green */
    border: solid 2px #8a1717;
    color: white !important;
    padding: 1vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    border-radius: 24px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c83737', endColorstr='#752929'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#c83737), to(#752929)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #c83737, #752929); /* for firefox 3.6+ */
}

a.RedSignupButton:hover, a.RedSignupButton:active {
    box-shadow: 4px 4px 10px 4px grey;
}
a.RedSignupButton {
    text-decoration: none;
}

.BlueLoginButton {
    background-color: #c83737; /* Green */
    border: solid 2px #8a1717;
    color: white !important;
    padding: 1vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    border-radius: 24px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c83737', endColorstr='#752929'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#c83737), to(#752929)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #c83737, #752929); /* for firefox 3.6+ */
}

a.BlueLoginButton:hover, a.RedSignupButton:active {
    box-shadow: 4px 4px 10px 4px grey;
}

a.BlueLoginButton {
    text-decoration: none;
}
@media screen and (min-width: 601px) {
    .header-t-1 {
    }

    .header-t-2 {
    }
    .rule-text-scale{
        font-size: 1rem;
    }
    .rule-text-scale-small {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 600px) {
    .header-t-1 {
        font-size: 1.5rem
    }

    .header-t-2 {
        font-size: 1.0rem
    }
    .rule-text-scale {
        font-size: 0.8rem;
    }

    .rule-text-scale-small {
        font-size: 0.6rem;
    }
}

.img-text-below {
   
    line-height: 1.1;
    overflow: hidden;
    font-size: .8rem
}

.card-header-custom {
    font-size: 1.25rem;
    padding: 0rem 1.25rem !important;
    font-weight:bold;
}

.bs-searchbox > input {
    max-width:none;
}

.div-selected {
    background-color: #007bff;
}

.col-half {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 4.1666666%;
    flex: 0 0 4.1666666%;
    max-width: 4.1666666%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.video-note-line {
    font-weight:600;
}

.video-note-selected {
    background-color: #3879d9;
    color: #FFFFFF;
}

.video-note-color-Grey {
    color: grey;
}
.video-note-color-Red {
    color: red;
}
.video-note-color-Green {
    color: green;
}
.video-note-color-Blue {
    color: blue;
}
.video-note-upvalue {
    color: green;
}
.video-note-devaule {
    color: red;
}

.dropdown-toggle[aria-expanded="true"]:after {
    transform: rotate(180deg);
}

.dropdown-toggle:after {
    transition: 0.5s;
}

.video-note-header::after {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 0;
    height: 0;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent
}

.video-note-header[aria-expanded="true"]:after {
    transform: rotate(180deg);
}

.video-note-header:after {
    transition: 0.5s;
}

.btn-small-pad {
    padding-right: .05rem !important;
    padding-left: .05rem !important;
    font-size:0.7rem;
}

.rule-video-section-header {
    font-size: .9rem;
    text-decoration: underline;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.7)
}

.radio_login {
    list-style-type:none;
    padding-left:3px;
}

.dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
}

.approved_sts {
    background-color: red;
}

.approved_liaison {
    background-color: yellow;
}

.approved_final {
    background-color: #27fb27;
}

.rule-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    background-color: #13747E;
    font-size:.6rem;
    cursor:pointer;
    color:white;
}

.col-11-half {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 95.666667%;
    flex: 0 0 95.666667%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 95.6667%;
    max-width: 95.666667%;
}