{% load staticfiles %}
<div id="divSlideArea">{% autoescape off %}{{slide.body}}{% endautoescape %}</div>
<div id="divInteractArea">
    {{slide.interaction_prompt}}
    {% if slide.interaction_type != 'N' %}
        <div id="divAnswerArea" class="pl-2 pt-2 row no-gutters">
            {% if slide.interaction_type == 'MS' or slide.interaction_type == 'MC' %}
                {% for a in answers %}
                    <div class="col-3 d-flex">
                        <div>
                            <label id="lblAnswer{{forloop.counter0}}" class="switch">
                                {% if slide.interaction_type == 'MS' %}
                                    <input type="checkbox" id="chkAnswer{{a.id}}" data-id="{{a.id}}" class="answer">
                                {% else %}
                                    <input type="radio" id="chkAnswer{{a.id}}" data-id="{{a.id}}"class="answer" name="rdoQuiz">
                                {% endif %}
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="pl-1">
                                <label for="chkAnswer{{a.id}}" style="margin-bottom:0 !important">{{a.text}}</label>
                        </div>
                    </div>
                    <div id="divAnswer{{a.id}}" class="col-9">

                    </div>
                {% endfor %}
            {% elif slide.interaction_type == 'T' %}
                <input type="text" class="form-control mb-2" placeholder="Answer" aria-label="Answer" id="txtAnswer">
            {% endif %}
            <div id="divAnswerText"></div>
            <button id="btnSubmitAnswer" type="button" class="btn btn-main" onclick="SubmitAnswer(); event.stopPropagation();">Submit</button>
        </div>
    {% endif %}
</div>
