{% block content %}
{% load staticfiles %}

<div class="text-center detail-background rounded-top text-detail">
    <div class="row" onclick="">
        <div class="col">
            <div style="height:220px" class="image-background rounded position-relative">
               
                <div style="position:absolute;left:5px;top:40%;z-index:1001">
                    <button id="btnPrev" type="button" class="btn btn-main pr-3 pl-3"   style="padding: 0rem 0.2rem;font-size:0.95rem;font-weight:bold;width:55px;opacity:0.5"  onclick="GoPrevious(); event.stopPropagation();"><i class="fas fa-chevron-left"></i></button>
                    <br/>
                     <button id="btnFirst" type="button" class="btn btn-main pr-3 pl-3"   style="padding: 0rem 0.2rem;font-size:0.95rem;font-weight:bold;width:55px;opacity:0.5"  onclick="GoFirst(); event.stopPropagation();"><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i></button>
                </div>
                <div style="position:absolute;right:5px;top:40%;z-index:1001">
                    <button id="btnNext" type="button" class="btn btn-main pr-3 pl-3" style="padding: 0rem 0.2rem;font-size:0.95rem;font-weight:bold;width:55px;opacity:0.5"  onclick="GoNext(); event.stopPropagation();"><i class="fas fa-chevron-right"></i></button>
                    <br/>
                     <button id="btnLast" type="button" class="btn btn-main pr-3 pl-3"   style="padding: 0rem 0.2rem;font-size:0.95rem;font-weight:bold;width:55px;opacity:0.5"  onclick="GoLast(); event.stopPropagation();"><i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></button>
                </div>
                <div id="divYourNote" class="your-note">
			        <label class="text-note-header mb-0">Your Note:</label><br/>
                    <textarea id="txtUserNotes" name="txtUserNotes" rows="3" class="w-100">{{user_note}}</textarea>
                </div>
                 <div class="col-12 pb-1 " style="line-height:1.1;height:36px;overflow:hidden">
                        {{coach_element.text}}
                    </div>
                <div class="row h-100 justify-content-center align-items-center">
                   
                    <div class="col-12 position-relative">
                        <img class="img-fluid detail-image" src="{% static 'app/images/'%}{{request.session.disc_path}}/coach_elements/{{ coach_element.image}}.svg"/>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters text-detail-bottom">
        <div class="col"><div class="text-center"><button id="btnClose" type="button" style="padding: 0rem 0.2rem;font-size:0.95rem;" class="btn btn-main" onclick="CloseCoachElement();">Close</button></div></div>
        <div class="col"><div class="text-center"></div></div>
       
       <!-- <div class="col text-white">
            <table class="w-100">
                <tr>
                    <td align="right">
                        <label id="lblAdditionalInfo" class="switch" style="display:none">
                            <input type="checkbox" id="chkAdditionalInfo">
                            <span class="slider round"></span>
                        </label></td>
                    <td style="vertical-align:top"  align="left">
                        <label for="chkAdditionalInfo" style="margin-bottom:0 !important">INFO&nbsp;</label>
                    </td>
                </tr>
            </table>
        </div>-->
        <div class="col">
            <table class="w-100">
                <tr>
                    <td align="right">
                        <label id="lblYourNote" class="switch" style="display:none">
                            <input type="checkbox" id="chkYourNote">
                            <span class="slider round"></span>
                        </label></td>
                    <td style="vertical-align:top" align="left">
                         <label for="chkYourNote" style="margin-bottom:0 !important">NOTES&nbsp;</label>
                    </td>
                </tr>
            </table>
        </div>
        {% if coach_element.coachvideolink_set.all.count > 0 %}
            {% if request.user.is_staff or request.user.is_superuser or SHOW_VIDEOS %}
             <div class="col"><div class="text-center"><button id="btnVideo" type="button" class="btn btn-main pr-3 pl-3"  data-toggle="modal" data-target="#modalMain" style="padding: 0rem 0.2rem;font-size:0.95rem;font-weight:bold"  onclick="LoadVideoFromElement()">
                    <i class="fas fa-play-circle"></i>&nbsp;{{ coach_element.coachvideolink_set.all.count }}</button></div></div>
            {% endif %}
        {% endif %}
    </div>
</div>

<div id="divDevelopment">
    <div class="list-group-item rules-subsection-header show mt-2 h5" style="cursor:pointer" data-toggle="collapse" data-target="#divDevelopmentDetail">
            DEVELOPMENT
    </div>
    <div id="divDevelopmentDetail" class="collapse show">
        <div class="list-group-item rules-cue" >
            {% autoescape off %}
            <pre>{{coach_element.development}}</pre>
            {% endautoescape %}
        </div>
    </div>
</div>

<div id="divPreReq">
    <div class="list-group-item rules-subsection-header show mt-2 h5" style="cursor:pointer" data-toggle="collapse" data-target="#divPreReqDetail">
            PRE-REQUISITE ELEMENTS
    </div>
    <div id="divPreReqDetail" class="collapse show">
        <div class="list-group-item rules-cue">
            <ul class="mb-0">
                {% for req in coach_element.pre_req_elements.all %}
                    <li>{{req.short_text}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div id="divRelated">
    <div class="list-group-item rules-subsection-header show mt-2 h5" style="cursor:pointer" data-toggle="collapse" data-target="#divRelatedDetail">
            RELATED SKILLS
    </div>
    <div id="divRelatedDetail" class="collapse show">
        <div class="list-group-item rules-cue">
            <ul class="mb-0">
                {% for rel in coach_element.related_elements.all %}
                    <li>{{rel.short_text}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div id="divMechanics">
    <div class="list-group-item rules-subsection-header show mt-2 h5" style="cursor:pointer" data-toggle="collapse" data-target="#divMechanicsDetail">
            MECHANICS
    </div>
    <div id="divMechanicsDetail" class="collapse show">
        <div class="list-group-item rules-cue">
            <ul class="mb-0">
                {% for line in coach_element.coachvideoline_set.all %}
                    {% if line.type == "mechanics" %}
                        <li>{{line.text}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div id="divPhysical">
    <div class="list-group-item rules-subsection-header show mt-2 h5" style="cursor:pointer" data-toggle="collapse" data-target="#divPhysicalDetail">
            PHYSICAL QUALITIES &amp; PREPERATION
    </div>
    <div id="divPhysicalDetail" class="collapse show">
        <div class="list-group-item rules-cue">
            {% autoescape off %}
            <pre>{{coach_element.physical}}</pre>
            {% endautoescape %}
        </div>
    </div>
</div>

<div id="divDescription">
    <div class="list-group-item rules-subsection-header show mt-2 h5" style="cursor:pointer" data-toggle="collapse" data-target="#divDescriptionDetail">
            DESCRIPTION
    </div>
    <div id="divDescriptionDetail" class="collapse show">
        <div class="list-group-item rules-cue">
              <ul class="mb-0">
                {% for line in coach_element.coachvideoline_set.all %}
                    {% if line.type == "description" %}
                        <li>{{line.text}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div id="divKey">
    <div class="list-group-item rules-subsection-header show mt-2 h5" style="cursor:pointer" data-toggle="collapse" data-target="#divKeyPointsDetail">
            KEY POINTS
    </div>
    <div id="divKeyPointsDetail" class="collapse show">
        <div class="list-group-item rules-cue">
              <ul class="mb-0">
                {% for line in coach_element.coachvideoline_set.all %}
                    {% if line.type == "key" %}
                        <li>{{line.text}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div id="divMethodology">
    <div class="list-group-item rules-subsection-header show mt-2 h5" style="cursor:pointer" data-toggle="collapse" data-target="#divMethodologyDetail">
            METHODOLOGY
    </div>
    <div id="divMethodologyDetail" class="collapse show">
         <div class="list-group-item rules-cue pb-0">
            <div class="row no-gutters">
                {% for meth in coach_element.methodology.all %}
                <div class="col-lg-3 col-md-4 col-sm-6 mt-2 mb-1" style="height:190px;cursor:pointer" >
                    <div class="row">
                        <div class="col">
                            <div style="height:172px" class="image-background rounded" id="div{{element.id}}">
                                <div class="row justify-content-center align-items-center" style="height:140px">
                                    <div class="col text-center">
                                        <img class="img-fluid" src="{% static 'app/images/'%}{{request.session.disc_path}}/coach_elements/methodology/{{ meth.image}}.svg"  style="max-height:140px;overflow:hidden"/>
                                    </div>
                            
                                </div>
                                <div class="row text-center d-flex align-items-end">
                                    <div class="col-12 pb-1 " style="line-height:1.1;height:32px;overflow:hidden;font-size:.8rem">
                                        {{meth.text}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div id="divEnvironment">
    <div class="list-group-item rules-subsection-header show mt-2 h5" style="cursor:pointer" data-toggle="collapse" data-target="#divEnvironmentDetail">
            THE ENVIRONMENT
    </div>
    <div id="divEnvironmentDetail" class="collapse show">
        <div class="list-group-item rules-cue pb-0">
            <div class="row no-gutters">
                {% for meth in coach_element.environment.all %}
                <div class="col-lg-3 col-md-4 col-sm-6 mt-2 mb-1" style="height:190px;cursor:pointer" >
                    <div class="row">
                        <div class="col">
                            <div style="height:172px" class="image-background rounded" id="div{{element.id}}">
                                <div class="row justify-content-center align-items-center" style="height:140px">
                                    <div class="col text-center">
                                        <img class="img-fluid" src="{% static 'app/images/'%}{{request.session.disc_path}}/coach_elements/environment/{{ meth.image}}.svg"  style="max-height:140px;overflow:hidden"/>
                                    </div>
                            
                                </div>
                                <div class="row text-center d-flex align-items-end">
                                    <div class="col-12 pb-1 " style="line-height:1.1;height:32px;overflow:hidden;font-size:.8rem">
                                        {{meth.text}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    var ElementID = {{coach_element.id}};
    //store checkboxes in ls and load as needed
     if (localStorage.your_note) {
        $('#chkYourNote').prop("checked", localStorage.your_note == 1)
        $('#chkYourNote').prop("checked") ? $("#divYourNote").show() : $("#divYourNote").hide();
    }
    else
        $("#divYourNote").hide();
    $('#chkYourNote').change(function() {
        localStorage.your_note = this.checked ? 1 : 0
        this.checked ? $("#divYourNote").show() : $("#divYourNote").hide();
    });

  
   $("#lblYourNote").show();
    //stop the notes area from closing if you click in it.
    $("#txtUserNotes").click(function(e) {
        e.stopPropagation();
    });

    //save the notes when done typing
    var typingTimer;                //timer identifier
    var doneTypingInterval = 1000;  //time in ms (5 seconds)

    //on keyup, start the countdown
    $('#txtUserNotes').keyup(function(){
        clearTimeout(typingTimer);
        if ($('#txtUserNotes').val()) {
            typingTimer = setTimeout(SaveNote, doneTypingInterval);
        }
    });

    //user is "finished typing," do something
    function SaveNote () {
        var note = $('#txtUserNotes').val();

        $.ajax({
            url: '{% url "coach_update_user_note" %}',
            data: {
                'note': note,
                'element': '{{coach_element.id}}'
            },
            dataType: 'json',
            success: function (data) {
              if (data.is_taken) {
                alert("A user with this username already exists.");
              }
            }
      });
    }
</script>
<script type="text/javascript">
    var InfoHolder = "";
    var InfoH = "";
    var InfoW = "";

    CoachElementUpdateDisplay();

    function CoachElementUpdateDisplay() {
        //grabbing from the search area
        $(".check-search-coach").each(function (i) {
            if (this.checked)
                $("#div" + this.id.substring(3)).show();
            else
                $("#div" + this.id.substring(3)).hide();
        });
    }

    function LoadVideoFromElement(EditMode = false) {
        VideoGoBackDepth=0;
        console.log("loading");
        $("#modalMainTitle").html("");
        if (window.innerWidth >= 600)
            $(".modal-dialog").addClass("mw-100").addClass("w-75");
        $("#modalBodyArea2").hide();
        $("#modalBodyArea1").empty();
        $.get("/video_player/?coachelement=" + ElementID + "&editmode=" + EditMode, function (data) {
            $("#modalBodyArea1").append(data);
            if (EditMode)
                $("#divVideosInList").children()[0].click()
            else
                $("#btnVid1").click();
        });
        $("#modalBodyArea1").show();
    }

</script>

{% endblock %}
