
{% load staticfiles %} 
<div id="divCoachElement" class="pb-3">

</div>
<div id="divCoachElementList">
        <div class="row">
    {% for element in coach_elements %}
        {% ifchanged element.level %}
            {% if not forloop.first %}
                </div></div>
            {% endif %}
            <div class="card rules-subsection-header col-12">
                <div class="card-header card-header-custom" data-toggle="collapse" data-target="#detail-{{forloop.counter}}" style="cursor:pointer">
                    Level {{element.level}}
                </div>
            </div>
            <div id="detail-{{forloop.counter}}" class="collapse show">
            <div class="row">
        {% endifchanged %}

        <div class="col-lg-3 col-md-4 col-sm-6 mt-2 mb-1" id="divHolder{{element.id}}" onclick="CoachElementClick({{element.id}})" style="height:190px;cursor:pointer" >
            <div class="row">
                <div class="col">
                    <div style="height:172px" class="image-background rounded" id="div{{element.id}}">
                        <div class="row justify-content-center align-items-center" style="height:140px">
                            <div class="position-absolute col pl-4" style="left:0px;top:0px">
                                {% if element.coachvideolink_set.all.count > 0 %}
                                    {% if request.user.is_staff or request.user.is_superuser or SHOW_VIDEOS %}
                                        <i class="fas fa-play-circle"></i><sub>{{ element.coachvideolink_set.all.count }}</sub>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col text-center">
                                <img class="img-fluid" src="{% static 'app/images/'%}{{request.session.disc_path}}/coach_elements/{{ element.image}}.svg"  style="max-height:140px;overflow:hidden"/>
                            </div>
                            
                        </div>
                        <div class="row text-center d-flex align-items-end">
                            <div class="col-12 pb-1 " style="line-height:1.1;height:32px;overflow:hidden;font-size:.8rem">
                                {{element.short_text}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"><div class="text-center"></div></div>
                <div class="col text-right"><div class="text-center">
                      </div></div>
            </div>
        </div>

 {% if forloop.last %}</div></div>{% endif %}
    {% endfor %}
                </div>
</div>


<div id="divNumElements" style="display:none">{{num_elements}}</div>
<script type="text/javascript">
    var ElementList = new Array();
    var elcount = 0;

    {% for element in coach_elements %}
    ElementList[elcount] = {{element.id}};
    {% endfor %}

</script>
<script type="text/javascript">
    function CoachElementClick(idIn) {
        SelectedElement = idIn;
        RemoveSelected();
        $("#div" + idIn).removeClass("image-background").addClass("selected-list-item");
        $("#divCoachElement").empty();
        $("#divCoachElement").load("/" + type + "?id=" + idIn, ShowAndSetHeight);
        document.documentElement.scrollTop=0
    }
    function CloseCoachElement() {
        RemoveSelected();
        $("#divCoachElement").empty();
    }

</script>    