{% block content %}
{% load staticfiles %}
<div class="sidebar-header">
   
</div>
{% if search_type == 'element' or search_type == 'rule' %}
<div class="input-group input-group-sm mt-1" id="divSearch">
  <input type="text" class="form-control" placeholder="Search" aria-label="Search" id="txtSearch">
    <div class="input-group-append">
        <button class="btn border border-left-0" style="background-color:#fff" onclick="ClearSearch()">
      <i class="fas fa-times fa-xs" style="background-color:#fff;color:black;cursor:pointer;"></i>
            </button>
    </div>
  <div class="input-group-append">
     <button class="btn btn-outline-secondary" type="button" onclick="SearchClick()">
                <i class="fas fa-search"></i>
            </button>
  </div>
</div>
{% endif %}

{% if search_type == 'element' %}
<div class="row no-gutters pt-2">
    {% for event in events %}
    <div class="col">
        <label id="lblE{{event}}" class="search-button">
            <input type="checkbox" id="chkE{{event}}" value="{{event}}" class="check-search check-search-event" data-search="event" onchange="SearchChangeEvent(this)">
            <div class="search-button event-button">
                <img class="img-fluid" src="{% static 'app/images/'%}{{request.session.disc_path}}/{{event}}_White.svg" />
            </div>
        </label>
    </div>
    {% endfor %}
</div>

 <div class="row no-gutters" id="Levels">
        {% for level in levels %}
        <div class="pr-2">
            <label id="lblCL{{level}}" class="search-button">
                <input type="checkbox" id="chkCL{{level}}" value="{{level}}" class="check-search" data-search="level" onchange="SearchChange(this)">
                <div class="search-button group-button">
                     L{{level}}
                </div>
            </label>
        </div>
        {% endfor %}
    </div>

<div>
    <table style="font-size:0.8rem;font-weight:600">
        <tr>
            <td align="right">
                <label id="lblDevelopment" class="switch">
                    <input type="checkbox" id="chkDevelopment" class="check-search-coach" onchange="CoachDisplayChange(this)">
                    <span class="slider round"></span>
                </label></td>
            <td style="vertical-align:middle" align="left">
                <label for="chkDevelopment" style="margin-bottom:0 !important">DEVELOPMENT</label>
            </td>
        </tr>
        <tr>
            <td align="right">
                <label id="lblMechanics" class="switch">
                    <input type="checkbox" id="chkMechanics" class="check-search-coach" onchange="CoachDisplayChange(this)">
                    <span class="slider round"></span>
                </label></td>
            <td style="vertical-align:middle" align="left">
                <label for="chkMechanics" style="margin-bottom:0 !important">MECHANICS</label>
            </td>
        </tr>
        <tr>
            <td align="right">
                <label id="lblPhsycial" class="switch">
                    <input type="checkbox" id="chkPhysical" class="check-search-coach" onchange="CoachDisplayChange(this)">
                    <span class="slider round"></span>
                </label></td>
            <td style="vertical-align:middle" align="left" >
                <label for="chkPhysical" style="margin-bottom:0 !important">PHYSICAL QUALITIES &amp; PREPERATION</label>
            </td>
        </tr>
        <tr>
            <td align="right">
                <label id="lblDescription" class="switch">
                    <input type="checkbox" id="chkDescription" class="check-search-coach" onchange="CoachDisplayChange(this)">
                    <span class="slider round"></span>
                </label></td>
            <td style="vertical-align:middle" align="left">
                <label for="chkDescription" style="margin-bottom:0 !important">DESCRIPTION</label>
            </td>
        </tr>
        <tr>
            <td align="right">
                <label id="lblKey" class="switch">
                    <input type="checkbox" id="chkKey" class="check-search-coach" onchange="CoachDisplayChange(this)">
                    <span class="slider round"></span>
                </label></td>
            <td style="vertical-align:middle" align="left">
                <label for="chkKey" style="margin-bottom:0 !important">KEY POINTS</label>
            </td>
        </tr>
        <tr>
            <td align="right">
                <label id="lblMethodology" class="switch">
                    <input type="checkbox" id="chkMethodology" class="check-search-coach" onchange="CoachDisplayChange(this)">
                    <span class="slider round"></span>
                </label></td>
            <td style="vertical-align:middle" align="left">
                <label for="chkMethodology" style="margin-bottom:0 !important">METHODOLOGY</label>
            </td>
        </tr>
        <tr>
            <td align="right">
                <label id="lblEnvironment" class="switch">
                    <input type="checkbox" id="chkEnvironment" class="check-search-coach" onchange="CoachDisplayChange(this)">
                    <span class="slider round"></span>
                </label></td>
            <td style="vertical-align:middle" align="left">
                <label for="chkEnvironment" style="margin-bottom:0 !important">THE ENVIRONMENT</label>
            </td>
        </tr>

    </table>
</div>


{% else %}
    <div class="row no-gutters">
        {% for rule in sections %}
        <div class="pr-2">
            <label id="lblS{{forloop.counter}}" class="search-button">
                <input type="checkbox" id="chkS{{forloop.counter}}" value="{{rule.category}}" class="check-search" data-search="rule__section" onchange="SearchChange(this)">
                <div class="search-button value-button"><div style="text-transform:uppercase">{{rule.category}}</div></div>
            </label>
        </div>
        {% endfor %}
    </div>
{% endif %}

<div class="row no-gutters pt-2">
    <div class="pr-2">
        <label id="lblReset" class="search-button">

            <div class="search-button red-button" onclick="SearchReset()"><div style="text-transform:uppercase"><i class="fas fa-undo"></i></div></div>
        </label>
    </div>
</div>

<div id="divElementCountDisplay" style="padding-bottom:60px"></div>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
        var search_type = '{{search_type}}';
</script>
<script type="text/javascript">
    var Event = "";
    var ValueDisplay = "value";


    $('#txtSearch').keypress(function (e) {
      if (e.which == 13) {
          SearchClick();
        return false;    //<---- Add this line
      }
    });
    function ClearSearch() {
        $('#txtSearch').val("")
    }

    function SearchChangeEvent(el) {
        //console.log("SCE");
        if (!el.checked)
            $(el).prop('checked', true);
        else {
            localStorage.setItem(el.id, el.checked ? 1 : 0);
            $('.check-search-event').not(el).prop('checked', false);
            $('.check-search-event').not(el).each(function (i) {
                localStorage.setItem(this.id, 0);
            });
            CreateSearchParams();
            //Event = $(el).val();
        }
    }

    function SearchClick() {
        CreateSearchParams();
    }

    function CoachDisplayChange(el) {
        //console.log("SC");
        localStorage.setItem(el.id, el.checked ? 1 : 0);
        CoachElementUpdateDisplay()
        
    }

    function SearchChange(el) {
        //console.log("SC");
        localStorage.setItem(el.id, el.checked ? 1 : 0);
        CreateSearchParams();
    }
    function CreateSearchParams() {
        //console.log("CSP");
        var strValues = "";
        //CloseCoachElement();
        Event = $('.check-search-event:checkbox:checked').val();
        if (list_type !== 'undefined') {
            $(".check-search:checkbox:checked").each(function (i) {
                if ($(this).parent().is(":visible"))
                    strValues += $(this).attr("data-search") + "=" + $(this).val() + "&";
                //console.log($(this).attr("data-search") + " : " + $(this).val());
            });
            //if ($("#txtSearch").val() != "")
            strValues = "search=" + $("#txtSearch").val() + "&" + strValues;
            
            $.get("/" + list_type + "_list/?" + strValues, function (data) {
                $("#divElementList").empty();
                $("#divElementList").append(data);
                $("#divElementCountDisplay").html(($("#divNumElements").html()));
                //$("#div" + SelectedElement).click();
            });
        }
        //$("#divElementList").empty();
        //$("#divElementList").load("/element_list/?" + strValues);
    }
    function SearchReset() {
        $(".check-search:checkbox:checked:not(.check-search-event)").each(function (i) {
            localStorage.setItem(this.id, 0);
            $(this).removeAttr('checked');
            
        });
        $(".check-search-coach").each(function (i) {
            localStorage.setItem(this.id, 1);
            $(this).prop('checked', true);
        });
        $("#txtSearch").val("");
        CreateSearchParams();
        }
    function LoadLastSelections() {
        //console.log("LLS");
        //console.log(localStorage);

        $(".check-search:checkbox").each(function (i) {
            //console.log(this.id);
            // console.log(localStorage.getItem(this.id));
            if (localStorage.getItem(this.id) == "1")
                $(this).prop('checked', true);
            else
                $(this).prop('checked', false);
        });
        $(".check-search-coach").each(function (i) {
            console.log(this.id);
            console.log(localStorage.getItem(this.id));
            if (localStorage.getItem(this.id) == "0")
                $(this).prop('checked', false);
            else
                $(this).prop('checked', true);
        });
        if (search_type == "element" || type == "shorthand_trainer") {
             $(".check-search-display:checkbox").each(function (i) {
                if (localStorage.getItem(this.id) == "1")
                    $(this).prop('checked', true);
                else
                    $(this).prop('checked', false);
             });
        }
        console.log($(".check-search-event:checkbox:checked").length);
        if ($(".check-search-event:checkbox:checked").length == 0 && $(".check-search-event:checkbox").length > 0) 
            $(".check-search-event:checkbox")[0].click();
        else {
            CreateSearchParams();
        }
    }
</script>
{% endblock %}