{% load staticfiles %}
<div class="row no-gutters">
    <div id="divSlideArea" class="col-12 col-md-9 slide-base pl-2" style="min-height:400px">
        <div id="divCounter" style="position:absolute;left:5px;bottom:5px;z-index:1001"></div>
        <div id="divSlide"></div>
    </div>
    <div id="divNotepad" class="col-3 d-none d-md-block"><div class="pl-2 text-center d-flex flex-column h-100"><div class="text-note-header" style="background-color:#1e1e3a">Notepad</div><div style="flex-grow:1"><textarea class="w-100 h-100" style="max-width:100%!important;resize:none!important"></textarea></div></div>
</div>
<div id="divControls">
    <button id="btnFirst" type="button" class="btn btn-main pr-3 pl-3" onclick="GoFirst(); event.stopPropagation();"><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i></button>
    <button id="btnPrev" type="button" class="btn btn-main pr-3 pl-3" onclick="GoPrevious(); event.stopPropagation();"><i class="fas fa-chevron-left"></i></button>
    <button id="btnNext" type="button" class="btn btn-main pr-3 pl-3" onclick="GoNext(); event.stopPropagation();"><i class="fas fa-chevron-right"></i></button>
    <button id="btnLast" type="button" class="btn btn-main pr-3 pl-3" onclick="GoLast(); event.stopPropagation();"><i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></button>
</div>
{% block scripts %}
<script type="text/javascript">
    var NumSlides = {{slides|length}};
    var Slides = Array()
    var InteractType = Array()
    {% for s in slides %}
        Slides[{{ forloop.counter0 }}] = {{s.id}};
        InteractType[{{ forloop.counter0 }}] = "{{ s.interaction_type}}";
    {% endfor %}

    var OnSlide = 0;
    var Answered = false;
    var Correct = 0;
    var Wrong = 0;
    var Total = 0;
    var Missed = new Array();
    var SaveUrl =  '{% url "quiz_save" %}';
    var Event = '{{event}}';
    var HighestOn = 0;

</script>
<script type="text/javascript">

    $('#txtValue').keypress(function (e) {
      if (e.which == 13) {
          SubmitValue();
        return false;    //<---- Add this line
      }
    });

    PopulateSlide(0);

    function PopulateSlide(which) {
        if (which > HighestOn)
            HighestOn = which;
        SetNavButtons();
        if (InteractType[which] != "N") {
            $("#btnLast").addClass("disabled").prop("disabled", "disabled");
            $("#btnNext").addClass("disabled").prop("disabled", "disabled");
        }
        $("#divCounter").html((which + 1) + "/" + (NumSlides));
        $.get("/coach_fundamentals_slide/?slide=" + Slides[which], function (data) {
            $("#divSlide").empty();
            $("#divSlide").append(data);
        });
        
    }

    function SetNavButtons() {
        if (OnSlide == 0) {
            $("#btnFirst").addClass("disabled").prop("disabled", "disabled");
            $("#btnPrev").addClass("disabled").prop("disabled", "disabled");
        }
        else {
            $("#btnFirst").removeClass("disabled").prop("disabled", "");
            $("#btnPrev").removeClass("disabled").prop("disabled", "");
        }

        if (OnSlide == NumSlides - 1) {
            $("#btnLast").addClass("disabled").prop("disabled", "disabled");
            $("#btnNext").addClass("disabled").prop("disabled", "disabled");
        }
        else {
            $("#btnLast").removeClass("disabled").prop("disabled", "");
            $("#btnNext").removeClass("disabled").prop("disabled", "");
        }
    }

    function PopulateQuiz(which) {
        GroupAnswered = false;
        ValueAnswered = false;
        
        UpdateCounter();
        if (PromptSetup["Shorthand"])
            $("#pShorthand").attr('src', SymbolBaseURL + QuizElements[which] + ".svg");
        if (PromptSetup["Image"])
            $("#pImage").attr('src', ImageBaseURL + QuizElements[which] + ".svg");
        if (PromptSetup["Text"])
            $("#pText").html(QuizElementShortText[which]);

        if (which != HighestOn) {
            //its not current quiz spot, so fill old
            if (TestSetup["Value"])
                $("#chkV" + QuizAnswersValue[which]).click();
            if (TestSetup["Group"])
                $("#chkGA" + QuizAnswersGroup[which]).click();
            if (DirectValue) {
                ColorDirectBox();
                $("#txtValue").val(QuizAnswersValue[which]);
                $("#btnSubmitDirectValue").hide();
                Answered = true
            }
            ColorAnswers();
        }
        else {
            if (DirectValue) {
                $("#btnSubmitDirectValue").show();
                Answered = false
            }
        }
    }

    function SubmitAnswer() {
        $(".answer").each(function (i) {
            console.log(this.id)
            if ($(this).prop("checked"))
                $("#" + this.id.replace("chk", "div")).show();
        });
        SetNavButtons();
        //setTimeout(SlideNext, 2000);
        
    }

    function SlideNext() {
        if (OnSlide < NumSlides - 1)
            GoNext();
    }

    function UpdateCounter() {
        $("#divCounter").html((OnElement + 1) + "/" + NumElements);
    }


    function GoPrevious() {
        //ResetButtons();
        OnSlide--;
        PopulateSlide(OnSlide);
       // ShowHideNav();
    }
    function GoNext() {
        //ResetButtons();
        OnSlide++;
        PopulateSlide(OnSlide);
        //ShowHideNav();
    }
    function GoLast() {
        //ResetButtons();
        OnSlide = HighestOn;
        PopulateSlide(OnSlide);
        //ShowHideNav();
    }
    function GoFirst() {
        //ResetButtons();
        OnSlide = 0;
        PopulateSlide(OnSlide);
       // ShowHideNav();
    }

    function QuizNext() {
        if (OnElement >= NumElements - 1)
            EndQuiz()
        else {
            Answered = false;
            ResetButtons();
            OnElement++;
            HighestOn++;
            if (OnElement != HighestOn)
                OnElement = HighestOn;//in case they clicked back or forward right after answer
            UpdateStats();
            PopulateQuiz(OnElement);
            ShowHideNav();
        }
    }

   

    function UpdateStats() {
        $("#divCorrectCount").html("Correct: " + Correct);
        $("#divWrongCount").html("Incorrect: " + Wrong);
    }

    function EndQuiz() {
        if (OnElement > 0)
            SaveQuiz();

        $("#modalMainTitle").html("Quiz Results");
        $(".modal-dialog").removeClass("mw-100").removeClass("w-75");
        $("#modalBodyArea2").empty().append($("#QuizResults"));
        $("#QuizResults").show();
        $("#qrCorrect").html(Correct);
        $("#qrTotal").html(Total);
        $("#modalMain").modal();
    }

    function SaveQuiz() {
        $.ajax({
            url: SaveUrl,
            data: {
                'event': Event,
                'correct': Correct,
                'wrong': Wrong,
                'type': 'Element',
                'missed': Missed
            },
            dataType: 'json',
            success: function (data) {

            }
        });
    }
</script>

{% endblock %}