{% block content %}
{% load staticfiles %}

<div class="text-center detail-background rounded-top">
    <div class="row">
        <div class="col">
            <div style="height:220px" class="image-background rounded position-relative">
               <div class="detail-top-left">{{lang_elements.named}}</div>
                <div class="detail-top-right"><img class="img-fluid detail-sym" src="{% static 'app/images/wag/sym/'%}{{ lang_elements.element.image_url}}.svg"/></div>
                <div class="additional-info" id="divAdditionalInfo">
                    {{lang_elements.additional_info}}
                </div>
               
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-12 position-relative">
                        <img class="img-fluid detail-image" src="{% static 'app/images/wag/elements/'%}{{ lang_elements.element.image_url}}.svg"/>
                    </div>
                    <div class="col-12 pb-1" style="margin-top:-1rem;line-height:1.1;height:36px;overflow:hidden">
                        {{lang_elements.text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters text-detail-bottom">
        <div class="col"><div class="text-center">{{lang_elements.id_number_text}}</div></div>
        <div class="col"><div class="text-center">{{lang_elements.element.letter_value}} = {{lang_elements.element.value}}</div></div>
    </div>
</div>


{% endblock %}
