{% block content %}
{% load staticfiles %}

<div class="text-center detail-background rounded-top text-detail">
    <div class="row" onclick="SaveNote(); CloseElement()">
        <div class="col">
            <div style="height:220px" class="image-background rounded position-relative">
               <div class="detail-top-left">{{lang_elements.named}}</div>
                <div class="detail-top-right"><img class="img-fluid detail-sym" src="{% static 'app/images/'%}{{request.session.disc_path}}/sym/{{ lang_elements.element.image_url}}.svg"/></div>
                <div style="position:absolute;left:5px;top:40%">
                    <button id="btnPrev" type="button" class="btn btn-main pr-3 pl-3"   style="padding: 0rem 0.2rem;font-size:0.95rem;font-weight:bold;width:55px;opacity:0.5"  onclick="GoPrevious(); event.stopPropagation();"><i class="fas fa-chevron-left"></i></button>
                    <br/>
                     <button id="btnFirst" type="button" class="btn btn-main pr-3 pl-3"   style="padding: 0rem 0.2rem;font-size:0.95rem;font-weight:bold;width:55px;opacity:0.5"  onclick="GoFirst(); event.stopPropagation();"><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i></button>
                </div>
                <div style="position:absolute;right:5px;top:40%">
                    <button id="btnNext" type="button" class="btn btn-main pr-3 pl-3" style="padding: 0rem 0.2rem;font-size:0.95rem;font-weight:bold;width:55px;opacity:0.5"  onclick="GoNext(); event.stopPropagation();"><i class="fas fa-chevron-right"></i></button>
                    <br/>
                     <button id="btnLast" type="button" class="btn btn-main pr-3 pl-3"   style="padding: 0rem 0.2rem;font-size:0.95rem;font-weight:bold;width:55px;opacity:0.5"  onclick="GoLast(); event.stopPropagation();"><i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></button>
                </div>
                <div class="additional-info" id="divAdditionalInfo">
                    <button id="btnAdditionalInfoClose" type="button" class="close" aria-label="Close" style="font-size:0.8rem;display:none">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span id="spnAdditionalInfo">{{lang_elements.additional_info}}</span>
                    <i class="fa fa-expand" aria-hidden="true" id="btnAdditionalInfoExpand"  style="display:none"></i>
                </div>
                <div id="divYourNote" class="your-note">
			        <label class="text-note-header mb-0">Your Note:</label><br/>
                    <textarea id="txtUserNotes" name="txtUserNotes" rows="3" class="w-100">{{user_note}}</textarea>
                </div>
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-12 position-relative">
                        <img class="img-fluid detail-image" src="{% static 'app/images/'%}{{request.session.disc_path}}/elements/{{ lang_elements.element.image_url}}.svg"/>
                    </div>
                    <div class="col-12 pb-1 " style="margin-top:-1rem;line-height:1.1;height:36px;overflow:hidden">
                        {{lang_elements.text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters text-detail-bottom">
        <div class="col"><div class="text-center">{{lang_elements.id_number_text}}</div></div>
        <div class="col"><div class="text-center">

             {% if val_display == 'value_67' %}
                                                    {% if lang_elements.element.letter_value_67 == ''%}
                                                        {{lang_elements.element.value_67}}
                                                    {% else %}
                                                        {{lang_elements.element.letter_value_67}} = {{lang_elements.element.value_67}}{% if lang_elements.element.bonus_67 > 0 %}+{{lang_elements.element.bonus_67}} {% endif %}
                                                    {% endif %}
                                                {% elif val_display == 'value_8' %}
                                                    {% if lang_elements.element.letter_value_8 == ''%}
                                                        {{lang_elements.element.value_8}}
                                                    {% else %}
                                                        {{lang_elements.element.letter_value_8}} = {{lang_elements.element.value_8}}{% if lang_elements.element.bonus_9 > 0 %}+{{lang_elements.element.bonus_9}} {% endif %}
                                                    {% endif %}
                                                 {% elif val_display == 'value_9' %}
                                                    {% if lang_elements.element.letter_value_9 == ''%}
                                                        {{lang_elements.element.value_9}}
                                                    {% else %}
                                                        {{lang_elements.element.letter_value_9}} = {{lang_elements.element.value_9}}{% if lang_elements.element.bonus_8 > 0 %}+{{lang_elements.element.bonus_8}} {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if lang_elements.element.letter_value == ''%}
                                                        {{lang_elements.element.value}}
                                                    {% else %}
                                                        {{lang_elements.element.letter_value}} = {{lang_elements.element.value}}{% if lang_elements.element.bonus > 0 %}+{{lang_elements.element.bonus}} {% endif %}
                                                    {% endif %}
                                                {% endif %}
             </div></div>
       
       <!-- <div class="col text-white">
            <table class="w-100">
                <tr>
                    <td align="right">
                        <label id="lblAdditionalInfo" class="switch" style="display:none">
                            <input type="checkbox" id="chkAdditionalInfo">
                            <span class="slider round"></span>
                        </label></td>
                    <td style="vertical-align:top"  align="left">
                        <label for="chkAdditionalInfo" style="margin-bottom:0 !important">INFO&nbsp;</label>
                    </td>
                </tr>
            </table>
        </div>-->
        <div class="col">
            <table class="w-100">
                <tr>
                    <td align="right">
                        <label id="lblYourNote" class="switch" style="display:none">
                            <input type="checkbox" id="chkYourNote">
                            <span class="slider round"></span>
                        </label></td>
                    <td style="vertical-align:top" align="left">
                         <label for="chkYourNote" style="margin-bottom:0 !important">NOTES&nbsp;</label>
                    </td>
                </tr>
            </table>
        </div>
        {% if lang_elements.element.videolink_set.all.count > 0 %}
            {% if request.user.is_staff or request.user.is_superuser or SHOW_VIDEOS %}
             <div class="col"><div class="text-center"><button id="btnVideo" type="button" class="btn btn-main pr-3 pl-3"  data-toggle="modal" data-target="#modalMain" style="padding: 0rem 0.2rem;font-size:0.95rem;font-weight:bold"  onclick="LoadVideo()">
                    <i class="fas fa-play-circle"></i>&nbsp;{{ lang_elements.element.videolink_set.all.count }}</button></div></div>
            {% endif %}
        {% endif %}
    </div>
</div>




<script type="text/javascript">
    var ElementID = {{lang_elements.id}};
    var AdditionalInfo = "{{lang_elements.additional_info}}";
    //store checkboxes in ls and load as needed
     if (localStorage.your_note) {
        $('#chkYourNote').prop("checked", localStorage.your_note == 1)
        $('#chkYourNote').prop("checked") ? $("#divYourNote").show() : $("#divYourNote").hide();
    }
    else
        $("#divYourNote").hide();
    $('#chkYourNote').change(function() {
        localStorage.your_note = this.checked ? 1 : 0
        this.checked ? $("#divYourNote").show() : $("#divYourNote").hide();
    });

    /*if (localStorage.additional_info) {
        $('#chkAdditionalInfo').prop("checked", localStorage.additional_info == 1)
        $('#chkAdditionalInfo').prop("checked") ? $("#divAdditionalInfo").show() : $("#divAdditionalInfo").hide();
    }
    else
        $("#divAdditionalInfo").hide();*/
    /*$('#chkAdditionalInfo').change(function() {
        localStorage.additional_info = this.checked ? 1 : 0
        this.checked ? $("#divAdditionalInfo").show() : $("#divAdditionalInfo").hide();
    });*/
   
    $("#lblAdditionalInfo").show();
   $("#lblYourNote").show();
    //stop the notes area from closing if you click in it.
    $("#txtUserNotes").click(function(e) {
        e.stopPropagation();
    });

    //save the notes when done typing
    var typingTimer;                //timer identifier
    var doneTypingInterval = 1000;  //time in ms (5 seconds)

    //on keyup, start the countdown
    $('#txtUserNotes').keyup(function(){
        clearTimeout(typingTimer);
        if ($('#txtUserNotes').val()) {
            typingTimer = setTimeout(SaveNote, doneTypingInterval);
        }
    });

    //user is "finished typing," do something
    function SaveNote () {
        var note = $('#txtUserNotes').val();

        $.ajax({
            url: '{% url "update_user_note" %}',
            data: {
                'note': note,
                'element': '{{lang_elements.element.id}}'
            },
            dataType: 'json',
            success: function (data) {
              if (data.is_taken) {
                alert("A user with this username already exists.");
              }
            }
      });
    }
</script>
<script type="text/javascript">
    var InfoHolder = "";
    var InfoH = "";
    var InfoW = "";

    if (AdditionalInfo != "")
        $("#btnAdditionalInfoClose").show();

    $("#divAdditionalInfo").click(function(e) {
        ToggleInfo();
         e.stopPropagation();   
});

    function ToggleInfo() {
        if (InfoHolder == "") {
            InfoHolder = $("#spnAdditionalInfo").html();
            InfoH = $("#divAdditionalInfo").height();
            InfoW = $("#divAdditionalInfo").outerWidth() + 1;
            $("#divAdditionalInfo").height(InfoH);
            $("#divAdditionalInfo").width(InfoW);
            $("#spnAdditionalInfo").hide();
            $("#btnAdditionalInfoClose").hide();
            $("#divAdditionalInfo" ).animate({
                height: 18,
                width: 18
            }, 250, function () {
                    $("#btnAdditionalInfoExpand").show();
                // Animation complete.
            });

        }
        else {
            $("#btnAdditionalInfoExpand").hide();
             $("#divAdditionalInfo" ).animate({
                height: InfoH,
                width: InfoW
              }, 250, function() {
                     $("#spnAdditionalInfo").show();
                    $("#btnAdditionalInfoClose").show();
                     InfoHolder = "";
            });
        }
    }
    function LoadVideo(EditMode = false) {
        $("#modalMainTitle").html("");
        if (window.innerWidth >= 600)
            $(".modal-dialog").addClass("mw-100").addClass("w-75");
        $("#modalBodyArea2").hide();
        $("#modalBodyArea1").empty();
        $.get("/video_player/?element=" + ElementID + "&editmode=" + EditMode, function (data) {
            $("#modalBodyArea1").append(data);
            if (EditMode)
                $("#divVideosInList").children()[0].click()
            else
                $("#btnVid1").click();
        });
        $("#modalBodyArea1").show();
    }

</script>

{% endblock %}
