{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
<div class="wrapper-sidebar">
    <div id="divContentParent" class="position-relative">

        <div class="text-base col pr-0 pl-0 " id="divElementList" style="min-height:100%">
            <div id="divElementHolder" class="row" style="flex-wrap:nowrap;">
                <div id="divElement1" class="col-md-4 col-lg-3 col-10 d-flex justify-content-center" style="height:calc(100vh - 100px);align-items: safe center"></div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block scripts %}
  
    <script type="text/javascript">
        var ImagePath = "{% static 'app/images/'%}{{request.session.disc_path}}/elements/";
        var token = "{{ csrf_token }}";
    </script>
<script type="text/javascript">
    var OnElement = 1;
    var OETrans = new Array();
    var OETransReverse = new Array();
    var RemovedCount = 0;

    var ElementSkeleton = '<div id="divElement[ElementNumber]" class="col-md-4 col-lg-3 col-10 d-flex justify-content-center" style="height:calc(100vh - 100px);align-items: safe center"><div style=""></div></div >';
    $("#divMain").removeClass("container").addClass("container-fluid");
    //SetNextContainer();
    AddElement();
    OETrans[0] = -1;

    function RemoveElement(which) {
        $("#divElement" + which).remove();
        RemovedCount++;
        for (var i = 0; i < OETrans.length; i++){
            if (OETrans[i] == which)
                OETrans.splice(i, 1); 
        }
        SetReverse();
        GetScore();
        //OETrans.splice(which, 1);
        //fix translation
    }

    function SetReverse() {
        OETransReverse = new Array();
        for (var i = 0; i < OETrans.length; i++) {
            if (OETrans[i] != -1)
                OETransReverse[OETrans[i]] = i;
        }
    }


    function BaseTurnHalfClick(which)
    {
        if ($("#chk" + which + "BaseTurnHalf").is(":checked"))
            $("#chk" + which + "BaseTurnFull").prop("checked",false)
        CheckAndGetScore(which);
    }

    function BaseTurnFullClick(which)
    {
        if ($("#chk" + which + "BaseTurnFull").is(":checked"))
            $("#chk" + which + "BaseTurnHalf").prop("checked",false)
        CheckAndGetScore(which);
    }

    function CheckAndGetScore(which) {
        if ($("#C" + which + "base").is(":visible") && $("#C" + which + "top").is(":visible"))
            GetScore();
    }

    function AcroSkillClick(type, which, id, image, sex) {
        $(".acro-filter-" + type + which).removeClass("acro-selected");
        $("#Acro" + which + type + id).addClass("acro-selected");
        //console.log("#C" + which + type);
        //console.log(image + "-s-" + sex + ".svg");
        $("#C" + which + type).attr("src", ImagePath + image + "-" + sex + ".svg");
        $("#C" + which + type).show();
        //IDs[type][which] = id;
        //Sexes[type][which] = sex;
        CheckAndGetScore(which);
    }

    function GetScore() {
        var IDs = new Array();
        var Sexes = new Array();
        var Events = new Array();
        IDs['base'] = new Array();
        IDs['top'] = new Array();
        Sexes['base'] = new Array();
        Sexes['top'] = new Array();
        var Connect = new Array();
        var BaseHalf = new Array();
        var BaseFull = new Array();
        var Hold = new Array();

        $(".acro-select-base.acro-selected").each(function (i) {
            IDs['base'][OETransReverse[$(this).attr("data-link")]] = $(this).attr("data-id");
            Sexes['base'][OETransReverse[$(this).attr("data-link")]] = $(this).attr("data-sex");
            Events[OETransReverse[$(this).attr("data-link")]] = $(this).attr("data-event");
        });

        $(".acro-select-top.acro-selected").each(function (i) {
            IDs['top'][OETransReverse[$(this).attr("data-link")]] = $(this).attr("data-id");
            Sexes['top'][OETransReverse[$(this).attr("data-link")]] = $(this).attr("data-sex");
        });

        $(".check-connected").each(function (i) {
            if ($(this).is(":checked"))
                Connect[OETransReverse[$(this).val()]] = true;
            else
                Connect[OETransReverse[$(this).val()]] = false;
        });
        $(".check-hold").each(function (i) {
            if ($(this).is(":checked"))
                Hold[OETransReverse[$(this).val()]] = true;
            else
                Hold[OETransReverse[$(this).val()]] = false;
        });
        $(".check-base-turn-half").each(function (i) {
            if ($(this).is(":checked"))
                BaseHalf[OETransReverse[$(this).val()]] = true;
            else
                BaseHalf[OETransReverse[$(this).val()]] = false;
        });
        $(".check-base-turn-full").each(function (i) {
            if ($(this).is(":checked"))
                BaseFull[OETransReverse[$(this).val()]] = true;
            else
                BaseFull[OETransReverse[$(this).val()]] = false;
        });
        //console.log(Connect);
        $.ajax({
            url: '/ajax/acro_get_score/',
            data: JSON.stringify({
                Bases: IDs['base'],
                Tops: IDs['top'],
                SexBases: Sexes['base'],
                SexTops: Sexes['top'],
                Hold: Hold,
                Connect: Connect,
                BaseHalf: BaseHalf,
                BaseFull: BaseFull,
                Events: Events,
            }),
            headers: { "X-CSRFToken": token },
            type:'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'text',
            success: function (data) {
                data = JSON.parse(data);
                //HoldData = data;
                //console.log(data);
                SetResult(data);
            }
      });
    }

    function SetResult(data) {
        var count = 0;
        data["score_list"].forEach(function (item) {
            if (item != null) {
                $("#divScore" + OETrans[count] + "TopRef").html((item["top_trans_group"] == undefined ? '' : item["top_trans_group"]));
                $("#divScore" + OETrans[count] + "TopVal").html((item["top_value"] == undefined ? '' : item["top_value"]));
                $("#divScore" + OETrans[count] + "BaseRef").html((item["base_trans_group_display"] == undefined ? '' : item["base_trans_group_display"]));
                $("#divScore" + OETrans[count] + "BaseVal").html((item["base_value"] == undefined ? '' : item["base_value"]));
                $("#divScore" + OETrans[count] + "MotionBaseRef").html((item["base_motion_ref"] == undefined ? '' : item["base_motion_ref"]));
                $("#divScore" + OETrans[count] + "MotionBaseVal").html((item["base_motion_value"] == undefined ? '' : item["base_motion_value"]));
                $("#divScore" + OETrans[count] + "MotionTopRef").html((item["top_motion_ref"] == undefined ? '' : item["top_motion_ref"]));
                $("#divScore" + OETrans[count] + "MotionTopVal").html((item["top_motion_value"] == undefined ? '' : item["top_motion_value"]));
                $("#divScore" + OETrans[count] + "StaticTopVal").html((item["static_top_value"] == undefined ? '' : item["static_top_value"]));
                $("#divScore" + OETrans[count] + "Total").html("Total Value: " + (item["total"] == undefined ? '' : item["total"]));
            }
            count++;
        });
    }

    function AddElement() {
        $("#divElement" + OnElement).load("/element_search", LoadLastSelections);
    }
    function SetNextContainer() {
        OETrans.push(OnElement);
        SetReverse();
        OnElement++;
        $("#divElementHolder").append(ElementSkeleton.replace("[ElementNumber]", OnElement));
        AddElement();
    }
    var Event = "";
    var ValueDisplay = "value";

    $('#txtSearch').keypress(function (e) {
        if (e.which == 13) {
            SearchClick();
            return false;    //<---- Add this line
        }
    });
    function ClearSearch() {
        $('#txtSearch').val("")
    }

    function SearchChangeEvent(el) {
        //console.log("SCE");
        if (!el.checked)
            $(el).prop('checked', true);
        else {
            localStorage.setItem(el.id, el.checked ? 1 : 0);
            $('.check-search-event').not(el).prop('checked', false);
            $('.check-search-event').not(el).each(function (i) {
                localStorage.setItem(this.id, 0);
            });
            ShowHideSearches();
            //CreateSearchParams();
            //Event = $(el).val();
        }
    }

    function SearchChangeType(el) {
        //console.log("SCE");
        if (!el.checked)
            $(el).prop('checked', true);
        else {
            localStorage.setItem(el.id, el.checked ? 1 : 0);
            $('.check-search-type').not(el).prop('checked', false);
            $('.check-search-type').not(el).each(function (i) {
                localStorage.setItem(this.id, 0);
            });
            ShowHideSearches();
            //CreateSearchParams();
            //Event = $(el).val();
        }
    }

    function ShowHideSearches() {
        if (search_type != "rule") {
            ev = $('.check-search-event:checked').val();
            $('.check-search').not('.check-search-event').not('.check-search-show').not('.search-' + ev).parent().hide();
            $('.check-search.search-' + ev).parent().show();
        }
        /*if (ev == "V") {
            $('#Values').hide();
            $('#VaultValues').hide();*/

    }

    function SearchClick() {
        CreateSearchParams();
    }

    function SearchChange(el) {
        //console.log("SC");
        localStorage.setItem(el.id, el.checked ? 1 : 0);
        //CreateSearchParams();
    }

    function GoSearch() {
        CreateSearchParams();
    }
    function CreateSearchParams() {
        //console.log("CSP");
        var strValues = "";
        Event = $('.check-search-event:checkbox:checked').val();

        $(".check-search:checkbox:checked").each(function (i) {
            if ($(this).parent().is(":visible"))
                strValues += $(this).attr("data-search") + "=" + $(this).val() + "&";
            //console.log($(this).attr("data-search") + " : " + $(this).val());
        });

        //if ($("#txtSearch").val() != "")
        strValues = "onelement=" + OnElement + "&search=" + $("#txtSearch").val() + "&" + strValues;
        //console.log(strValues);

        $.get("/element_builder_acro/?" + strValues, function (data) {
            $("#divElement" + OnElement).empty();
            $("#divElement" + OnElement).append(data);
            SetNextContainer();
        });

        //$("#divElementList").empty();
        //$("#divElementList").load("/element_list/?" + strValues);
    }
    function SearchReset() {
        $(".check-search:checkbox:checked:not(.check-search-event)").each(function (i) {
            localStorage.setItem(this.id, 0);
            $(this).removeAttr('checked');

        });
        $("#txtSearch").val("");
        //CreateSearchParams();
    }
    function LoadLastSelections() {
        //console.log("LLS");
        //console.log(localStorage);

        $(".check-search:checkbox").each(function (i) {
            //console.log(this.id);
            //console.log(localStorage.getItem(this.id));
            if (localStorage.getItem(this.id) == "1")
                $(this).prop('checked', true);
            else
                $(this).prop('checked', false);
        });
        if (search_type == "element" || type == "shorthand_trainer") {
            $(".check-search-type:checkbox").each(function (i) {
                if (localStorage.getItem(this.id) == "1")
                    $(this).prop('checked', true);
                else
                    $(this).prop('checked', false);
            });
            if ($('.check-search-type:checked').val() == undefined) {
                $("#chkAcrBAL").prop('checked', true);
                localStorage.setItem('chkAcrBAL', 1);
            }
        }
       // console.log($(".check-search-event:checkbox:checked").length);
        if ($(".check-search-event:checkbox:checked").length == 0 && $(".check-search-event:checkbox").length > 0)
            $(".check-search-event:checkbox")[0].click();
        else {
            ShowHideSearches();
        }
    }



</script>
{% endblock %}
