{% block content %}
{% load staticfiles %}
<div style="width:190px" class="search-background pr-2 pl-2 pt-2 pb-2">
{% if search_type == 'element' or search_type == 'rule' %}
<div class="input-group input-group-sm mt-1" id="divSearch">
  <input type="text" class="form-control" placeholder="Search" aria-label="Search" id="txtSearch">
    <div class="input-group-append">
        <button class="btn border border-left-0" style="background-color:#fff" onclick="ClearSearch()">
      <i class="fas fa-times fa-xs" style="background-color:#fff;color:black;cursor:pointer;"></i>
            </button>
    </div>
  <div class="input-group-append">
     <button class="btn btn-outline-secondary" type="button" onclick="SearchClick()">
                <i class="fas fa-search"></i>
            </button>
  </div>
</div>
{% endif %}

<div class="row no-gutters pt-2">
    {% for event in events %}
    <div class="col">
        <label id="lblE{{event}}{{request.session.disc_path}}" class="search-button">
            <input type="checkbox" id="chkE{{event}}{{request.session.disc_path}}" value="{{event}}" class="check-search check-search-event" data-search="event" onchange="SearchChangeEvent(this)">
            <div class="search-button event-button">
                <img class="img-fluid" src="{% static 'app/images/'%}{{request.session.disc_path}}/{{event}}_White.svg" />
            </div>
        </label>
    </div>
    {% endfor %}
</div>
{% if search_type == 'element' %}
 <div class="row no-gutters">
     <div class="pr-2">
            <label id="lblAcrBAL" class="search-button">
                <input type="checkbox" id="chkAcrBAL" value="AcroBalance" class="check-search search-XP search-WP search-MP search-GR search-TR check-search-type" data-search="type" onchange="SearchChangeType(this)">
                <div class="search-button group-button"><div style="font-size:1.3rem">BAL</div></div>
            </label>
        </div>
     <div class="pr-2">
            <label id="lblAcrMNT" class="search-button">
                <input type="checkbox" id="chkAcrMNT" value="AcroMount" class="check-search search-XP search-WP search-MP search-GR search-TR check-search-type" data-search="type" onchange="SearchChangeType(this)">
                <div class="search-button group-button"><div style="font-size:1.3rem">MNT</div></div>
            </label>
        </div>
         <div class="pr-2">
            <label id="lblAcrDYN" class="search-button">
                <input type="checkbox" id="chkAcrDYN" value="AcroDynamic" class="check-search search-XP search-WP search-MP search-GR search-TR check-search-type" data-search="type" onchange="SearchChangeType(this)">
                <div class="search-button group-button"><div style="font-size:1.3rem">DYN</div></div>
            </label>
        </div>
</div>
 <div class="row no-gutters" id="divBalanceSearch">
        {% for cat in categories %}
        <div class="pr-2">
            <label id="lblAcrC{{forloop.counter}}" class="search-button">
                <input type="checkbox" id="chkAcrG{{forloop.counter}}" value="{{cat}}" class="check-search search-XP search-WP search-MP" data-search="category" onchange="SearchChange(this)">
                <div class="search-button value-button"> <img class="img-fluid" src="{% static 'app/images/'%}{{request.session.disc_path}}/acro-{{cat}}.svg" /></div>
            </label>
        </div>
        {% endfor %}
</div>
    <div class="row no-gutters" id="divBalanceSearchGR">
      {% for cat in gr_categories %}
        <div class="pr-2">
            <label id="lblAcrC{{forloop.counter}}" class="search-button" style="height:100px !important">
                <input type="checkbox" id="chkAcrG{{forloop.counter}}" value="{{cat}}" class="check-search search-GR" data-search="category" onchange="SearchChange(this)">
                <div class="search-button value-button"  style="height:100px !important"> <img class="img-fluid" src="{% static 'app/images/'%}{{request.session.disc_path}}/acro-gr-{{cat}}.svg" /></div>
            </label>
        </div>
        {% endfor %}
    </div>
    <div class="row no-gutters" id="divBalanceSearchTR">
      {% for cat in tr_categories %}
        <div class="pr-2">
            <label id="lblAcrC{{forloop.counter}}" class="search-button"  style="height:100px !important">
                <input type="checkbox" id="chkAcrG{{forloop.counter}}" value="{{cat}}" class="check-search search-TR" data-search="category" onchange="SearchChange(this)">
                <div class="search-button value-button" style="height:100px !important"> <img class="img-fluid" src="{% static 'app/images/'%}{{request.session.disc_path}}/acro-tr-{{cat}}.svg" /></div>
            </label>
        </div>
        {% endfor %}
    </div>


{% else %}
    <div class="row no-gutters">
        {% for rule in sections %}
        <div class="pr-2">
            <label id="lblS{{forloop.counter}}" class="search-button">
                <input type="checkbox" id="chkS{{forloop.counter}}" value="{{rule.section}}" class="check-search" data-search="rule__section" onchange="SearchChange(this)">
                <div class="search-button value-button"><div style="text-transform:uppercase">{{rule.search_display}}</div></div>
            </label>
        </div>
        {% endfor %}
    </div>
{% endif %}

<div class="row no-gutters">
    <div class="pr-2">
        <label id="lblReset" class="search-button">

            <div class="search-button red-button" onclick="SearchReset()"><div style="text-transform:uppercase"><i class="fas fa-undo"></i></div></div>
            
        </label>
    </div>
    <div class="pr-2"><div class="search-button"></div></div>
    <div><button id = "btnNext" type = "button" class="btn btn-main pr-3 pl-3 search-button" onclick = "GoSearch()" >GO</div>
</div>

{% if search_type == 'shorthand' %}

{% endif %}
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
        var search_type = '{{search_type}}';

</script>
<script type="text/javascript">

</script>
{% endblock %}