
{% load staticfiles %} 
<div class="row no-gutters search-background">
    <div class="col-6">
        <div id="divContextListBase" style="height:520px;width:120px;overflow: auto;font-size:11px">
        {% for element in bottoms %}
            <div id="Acro{{on_element}}base{{element.id}}" onclick="AcroSkillClick('base','{{on_element}}','{{element.id}}')" class="acro-select acro-filter-base{{on_element}}">
                <img class="img-fluid" src="{% static 'app/images/'%}{{request.session.disc_path}}/elements/{{element.thumb_url}}-{{image_sex_bottom}}_tn.svg"  style="width:100px;overflow:hidden"/>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="col-6">
        <div id="divContextListTop" style="height:520px;width:120px;overflow: auto;font-size:11px">
        {% for element in tops %}
            <div id="Acro{{on_element}}top{{element.id}}" onclick="AcroSkillClick('top','{{on_element}}','{{element.id}}')" class="acro-select acro-filter-top{{on_element}}">
                <img class="img-fluid" src="{% static 'app/images/'%}{{request.session.disc_path}}/elements/{{element.thumb_url}}-{{image_sex_top}}_tn.svg"  style="width:100px;overflow:hidden"/>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
<script type="text/javascript">
    var ElementList = new Array();
    var elcount = 0;


</script>