
{% load staticfiles %} 
{% if display == "Image" %}
    {% for element in lang_elements %}
       {% ifchanged element.element.str_grp %}
            {% if not forloop.first %}
                </div></div>
            {% endif %}
{% if request.session.disc_path != "tra" %}
            <div class="card rules-subsection-header">
                <div class="card-header card-header-custom" data-toggle="collapse" data-target="#detail-{{forloop.counter}}" style="cursor:pointer">
                    {% if request.session.disc_path != "aer" %}
                    Group {{element.element.str_grp}} - {% for g in groups %}{% if g.group == element.element.str_grp %}{{g.name}}{% endif %} {% endfor %}
                    {% else %}
                    {% for g in groups %}{% if g.group == element.element.str_grp %}{{g.name}}{% endif %} {% endfor %}
                    {% endif %}
                </div>
            </div>
{% endif %}
            <div id="detail-{{forloop.counter}}" class="collapse show">
            <div class="row">
        {% endifchanged %}
        <div class="col-lg-3 col-md-4 col-sm-6 mt-2 mb-1" id="divHolder{{element.id}}" onclick="ElementClick({{element.id}})" style="height:190px;cursor:pointer" >
            <div class="row">
                <div class="col">
                    <div style="height:172px" class="image-background rounded" id="div{{element.id}}">
                        <div class="row justify-content-center align-items-center" style="height:140px">
                            <div class="position-absolute col pl-4" style="left:0px;top:0px">
                                {% if element.element.videolink_set.all.count > 0 %}
                                    {% if request.user.is_staff or request.user.is_superuser or SHOW_VIDEOS %}
                                        <i class="fas fa-play-circle"></i><sub>{{ element.element.videolink_set.all.count }}</sub>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col text-center">
                                <img class="img-fluid" src="{% static 'app/images/'%}{{request.session.disc_path}}/elements/{{ element.element.image_url}}.svg?2"  style="max-height:140px;overflow:hidden"/>
                            </div>
                            
                        </div>
                        <div class="row text-center d-flex align-items-end">
                            <div class="col-12 pb-1 " style="line-height:1.1;height:32px;overflow:hidden;font-size:.8rem">
                                {{element.short_text}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"><div class="text-center">{{element.id_number_text}}</div></div>
                <div class="col text-right"><div class="text-center">
                                                 {% if val_display == 'value_67' %}
                                                    {% if element.element.letter_value_67 == ''%}
                                                        {{element.element.value_67}}
                                                    {% else %}
                                                        {{element.element.letter_value_67}} = {{element.element.value_67}}{% if element.element.bonus_67 > 0 %}+{{element.element.bonus_67}} {% endif %}
                                                    {% endif %}
                                                {% elif val_display == 'value_8' %}
                                                    {% if element.element.letter_value_8 == ''%}
                                                        {{element.element.value_8}}
                                                    {% else %}
                                                        {{element.element.letter_value_8}} = {{element.element.value_8}}{% if element.element.bonus_9 > 0 %}+{{element.element.bonus_9}} {% endif %}
                                                    {% endif %}
                                                 {% elif val_display == 'value_9' %}
                                                    {% if element.element.letter_value_9 == ''%}
                                                        {{element.element.value_9}}
                                                    {% else %}
                                                        {{element.element.letter_value_9}} = {{element.element.value_9}}{% if element.element.bonus_8 > 0 %}+{{element.element.bonus_8}} {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if element.element.letter_value == ''%}
                                                        {{element.element.value}}
                                                    {% else %}
                                                        {{element.element.letter_value}} = {{element.element.value}}{% if element.element.bonus > 0 %}+{{element.element.bonus}} {% endif %}
                                                    {% endif %}
                                                {% endif %}
                      </div></div>
            </div>
        </div>
        {% if forloop.last %}</div></div>{% endif %}
    {% endfor %}
{% endif %}

{% if display == "Shorthand" %}
    {% for element in lang_elements %}
       {% ifchanged element.element.str_grp %}
            {% if not forloop.first %}
                </div></div>
            {% endif %}
{% if request.session.disc_path != "tra" %}
            <div class="card rules-subsection-header">
                <div class="card-header card-header-custom" data-toggle="collapse" data-target="#detail-{{forloop.counter}}" style="cursor:pointer">
                    Group {{element.element.str_grp}} - {% for g in groups %}{% if g.group == element.element.str_grp %}{{g.name}}{% endif %} {% endfor %}
                </div>
            </div>
{% endif %}
            <div id="detail-{{forloop.counter}}" class="collapse show">
            <div class="row">
        {% endifchanged %}
        <div class="col-lg-3 col-md-4 col-sm-6 mt-2 mb-1" id="divHolder{{element.id}}" onclick="ElementClick({{element.id}})" style="height:140px;cursor:pointer" >
            <div class="row">
                <div class="col">
                    <div style="height:120px" class="image-background rounded" id="div{{element.id}}">
                         <div class="position-absolute col pl-4" style="left:0px;top:0px">
                                 {% if element.element.videolink_set.all.count > 0 %}
                                    {% if request.user.is_staff or request.user.is_superuser or SHOW_VIDEOS %}
                                        <i class="fas fa-play-circle"></i><sub>{{ element.element.videolink_set.all.count }}</sub>
                                    {% endif %}
                                {% endif %}
                            </div>
                        <div class="row h-100 justify-content-center align-items-center text-center">
                           
                            <div class="col-12 position-relative">
                                <img class="img-fluid" src="{% static 'app/images/'%}{{request.session.disc_path}}/sym/{{ element.element.image_url}}.svg"  style="max-height:89px;overflow:hidden"/>
                            </div>
                            <div class="col-12 pb-1 align-self-end" style=" line-height:1.1;height:32px;overflow:hidden;font-size:.8rem">
                                {{element.short_text}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"><div class="text-center">{{element.id_number_text}}</div></div>
                <div class="col text-right"><div class="text-center">
                                               
                                                 {% if val_display == 'value_67' %}
                                                    {% if element.element.letter_value_67 == ''%}
                                                        {{element.element.value_67}}
                                                    {% else %}
                                                        {{element.element.letter_value_67}} = {{element.element.value_67}} {% if element.element.bonus_67 > 0 %} + {{element.element.bonus_67}} {% endif %}
                                                    {% endif %}
                                                {% elif val_display == 'value_8' %}
                                                    {% if element.element.letter_value_8 == ''%}
                                                        {{element.element.value_8}}
                                                    {% else %}
                                                        {{element.element.letter_value_8}} = {{element.element.value_8}} {% if element.element.bonus_9 > 0 %} + {{element.element.bonus_9}} {% endif %}
                                                    {% endif %}
                                                 {% elif val_display == 'value_9' %}
                                                    {% if element.element.letter_value_9 == ''%}
                                                        {{element.element.value_9}}
                                                    {% else %}
                                                        {{element.element.letter_value_9}} = {{element.element.value_9}} {% if element.element.bonus_8 > 0 %} + {{element.element.bonus_8}} {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if element.element.letter_value == ''%}
                                                        {{element.element.value}}
                                                    {% else %}
                                                        {{element.element.letter_value}} = {{element.element.value}} {% if element.element.bonus > 0 %} + {{element.element.bonus}} {% endif %}
                                                    {% endif %}
                                                {% endif %}
                      </div></div>
            </div>
        </div>
        {% if forloop.last %}</div></div>{% endif %}
    {% endfor %}
{% endif %}

{% if display == "Text" %}
    {% for element in lang_elements %}
       {% ifchanged element.element.str_grp %}
            {% if not forloop.first %}
                </div></div>
            {% endif %}
{% if request.session.disc_path != "tra" %}
            <div class="card rules-subsection-header">
                <div class="card-header card-header-custom" data-toggle="collapse" data-target="#detail-{{forloop.counter}}" style="cursor:pointer">
                    Group {{element.element.str_grp}} - {% for g in groups %}{% if g.group == element.element.str_grp %}{{g.name}}{% endif %} {% endfor %}
                </div>
            </div>
{% endif %}
            <div id="detail-{{forloop.counter}}" class="collapse show">
            <div class="row">
        {% endifchanged %}
        <div class="col-lg-3 col-md-4 col-sm-6 mt-2 mb-1" id="divHolder{{element.id}}" onclick="ElementClick({{element.id}})" style="height:100px;cursor:pointer" >
            <div class="row">
                <div class="col">
                    <div style="height:80px" class="image-background rounded" id="div{{element.id}}">
                         <div class="position-absolute col pl-4" style="left:0px;top:0px">
                                 {% if element.element.videolink_set.all.count > 0 %}
                                    {% if request.user.is_staff or request.user.is_superuser or SHOW_VIDEOS %}
                                        <i class="fas fa-play-circle"></i><sub>{{ element.element.videolink_set.all.count }}</sub>
                                    {% endif %}
                                {% endif %}
                            </div>
                        <div class="d-flex justify-content-center align-items-center h-100" style="line-height:1.1;font-size:.8rem">
                           
                           
                            <div class="text-center pl-2 pr-2">
                                {{element.short_text}}</div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"><div class="text-center">{{element.id_number_text}}</div></div>
                <div class="col text-right"><div class="text-center">
                                               
                                                 {% if val_display == 'value_67' %}
                                                    {% if element.element.letter_value_67 == ''%}
                                                        {{element.element.value_67}}
                                                    {% else %}
                                                        {{element.element.letter_value_67}} = {{element.element.value_67}} {% if element.element.bonus_67 > 0 %} + {{element.element.bonus_67}} {% endif %}
                                                    {% endif %}
                                                {% elif val_display == 'value_8' %}
                                                    {% if element.element.letter_value_8 == ''%}
                                                        {{element.element.value_8}}
                                                    {% else %}
                                                        {{element.element.letter_value_8}} = {{element.element.value_8}} {% if element.element.bonus_9 > 0 %} + {{element.element.bonus_9}} {% endif %}
                                                    {% endif %}
                                                 {% elif val_display == 'value_9' %}
                                                    {% if element.element.letter_value_9 == ''%}
                                                        {{element.element.value_9}}
                                                    {% else %}
                                                        {{element.element.letter_value_9}} = {{element.element.value_9}} {% if element.element.bonus_8 > 0 %} + {{element.element.bonus_8}} {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if element.element.letter_value == ''%}
                                                        {{element.element.value}}
                                                    {% else %}
                                                        {{element.element.letter_value}} = {{element.element.value}} {% if element.element.bonus > 0 %} + {{element.element.bonus}} {% endif %}
                                                    {% endif %}
                                                {% endif %}
                      </div></div>
            </div>
        </div>
        {% if forloop.last %}</div></div>{% endif %}
    {% endfor %}
{% endif %}

{% if display == "OldText" %}
<div class="card rules-subsection-header">
    {% for element in lang_elements %}
        {% ifchanged element.element.str_grp %}
            {% if not forloop.first %}
                </ul>
                </div>
            {% endif %}
            {% if request.session.disc_path != "tra" %}
            <div class="card-header card-header-custom" data-toggle="collapse" data-target="#detail-{{forloop.counter}}" style="cursor:pointer">
                Group {{element.element.str_grp}} - {% for g in groups %}{% if g.group == element.element.str_grp %}{{g.name}}{% endif %} {% endfor %}
            </div>
            {% endif %}
                <div id="detail-{{forloop.counter}}" class="collapse show">
                    <ul class="list-group">
        {% endifchanged %}
                    <li class="list-group-item rules-cue" id="div{{element.id}}" style="cursor:pointer" onclick="ElementClick({{element.id}})" >
                <div>
                     {{element.text}}
                </div> 
                <div class="row no-gutters">
                                        <div class="col rule-section">
                                           <strong class="pr-4">{{element.id_number_text}}</strong> <strong>
                                                   {% if val_display == 'value_67' %}
                                                    {% if element.element.letter_value_67 == ''%}
                                                        {{element.element.value_67}}
                                                    {% else %}
                                                        {{element.element.letter_value_67}} = {{element.element.value_67}}{% if element.element.bonus_67 > 0 %}+{{element.element.bonus_67}} {% endif %}
                                                    {% endif %}
                                                {% elif val_display == 'value_8' %}
                                                    {% if element.element.letter_value_8 == ''%}
                                                        {{element.element.value_8}}
                                                    {% else %}
                                                        {{element.element.letter_value_8}} = {{element.element.value_8}}{% if element.element.bonus_9 > 0 %}+{{element.element.bonus_9}} {% endif %}
                                                    {% endif %}
                                                 {% elif val_display == 'value_9' %}
                                                    {% if element.element.letter_value_9 == ''%}
                                                        {{element.element.value_9}}
                                                    {% else %}
                                                        {{element.element.letter_value_9}} = {{element.element.value_9}}{% if element.element.bonus_8 > 0 %}+{{element.element.bonus_8}} {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if element.element.letter_value == ''%}
                                                        {{element.element.value}}
                                                    {% else %}
                                                        {{element.element.letter_value}} = {{element.element.value}}{% if element.element.bonus > 0 %}+{{element.element.bonus}} {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            
                                            </strong>
                                            <span class="pl-4" >
                                                {% if element.element.videolink_set.all.count > 0 %}
                                                    {% if request.user.is_staff or request.user.is_superuser or SHOW_VIDEOS %}
                                                        <i class="fas fa-play-circle"></i><sub>{{ element.element.videolink_set.all.count }}</sub>
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                        </div>
                                        
                                        
                                    </div>
            </li>
        {% if forloop.last %}</ul></div></div>{% endif %}
    {% endfor %}
{% endif %}

<div id="divNumElements" style="display:none">{{num_elements}}</div>
<script type="text/javascript">
    var ElementList = new Array();
    var elcount = 0;

    {% for element in lang_elements %}
    ElementList[elcount] = {{element.id}};
    {% endfor %}

</script>