{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
<div class="wrapper-sidebar">
    <div id="divSearchSidebar" style="overflow:auto">
        <div class="d-flex h-100">
            <div>
                <div id="dismiss">
                    <svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path></svg>
                    <i class="fas fa-arrow-left fa-2x"></i>
                </div>
                <div id="divSearchArea" class="pl-2">
   
                </div>
            </div>
            <div id="sidebarCollapse" class="sidebar-collapse">
                <i class="fas fa-ellipsis-v fa-2x"></i>
            </div>
        </div>
        
    </div>
    <div id="divContentParent" class="position-relative">
    
        <div id="divElement" class="collapse" style="cursor:pointer;position:fixed;z-index:131">

        </div>

        <div class="text-white col" id="divElementList" style="min-height:100%">
             
        </div>

    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
    var type = '{{type}}';
    var search_type = '{{search_type}}';
    var list_type = '{{list_type}}';
    </script>
<script type="text/javascript">
    $(document).ready(function () {
        
              $(window).resize(SetPadding);
              SetListHeight;
              $('#sidebarCollapse').on('click', function () {
                // open or close navbar
                $('#divSearchSidebar').toggleClass('active');
                // close dropdowns
                $('.collapse.in').toggleClass('in');
                // and also adjust aria-expanded attributes we use for the open/closed arrows
                // in our CSS
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
              });
             /* $("#divSearchSidebar").mCustomScrollbar({
                  theme: "minimal",
                 
              });*/

             $('#dismiss').on('click', function () {
                // hide sidebar
                $('#divSearchSidebar').removeClass('active');
                // hide overlay
               // $('.overlay').removeClass('active');
             });
             $.get("/" + search_type + "_search/", function (data) {
                 $("#divSearchArea").empty();
                 $("#divSearchArea").append(data);
                 LoadLastSelections();
             });

            if ($(window).width() >= 1200)
                $('#sidebarCollapse').click();

         });
    function CloseElement() {
       
        $("#divElement").collapse("hide");
         RemoveSelected();
        
        //SetListHeight();
    }
    function RemoveSelected() {
        $(".selected-list-item").addClass("image-background").removeClass("selected-list-item");
    }
    function ElementClick(idIn)
    {
        //attach setting the list height to the element div finishing its animation
        RemoveSelected();
        $("#div" + idIn).removeClass("image-background").addClass("selected-list-item");
        $('#divElement').on('hidden.bs.collapse', function () {
             $("#divElement").empty();
            SetPadding();
        }).on('shown.bs.collapse', function() {
            SetPadding();
        }).on('show.bs.collapse', function() {
            SetPadding();
        });
        $("#divElement").load("/" + type + "?id=" + idIn, ShowAndSetHeight);
    }
    function ShowAndSetHeight() {
        $("#divElement").collapse("show");
       
    }
    function SetPadding() {
        console.log("Setting Padding");
        $("#divElementList").css("padding-top", $("#divElement").height());
        $("#divElement").width($("#divContentParent").width());

        
       
    }
    function SetListHeight() {
    }

</script>
{% endblock %}
