<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRSTS</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}?version=1.4" />
    <link rel="stylesheet" id="ThemeLink" type="text/css" href="{% static 'app/content/theme.css' %}?version=1.1" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/nouislider.min.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link href="https://vjs.zencdn.net/7.6.6/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.12/dist/css/bootstrap-select.min.css">
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body class="content-area-background" style="">
    <div class="navbar navbar-dark nav-background fixed-top navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="/" class="navbar-brand">{{request.session.disc_path|upper}} {{request.session.version_name|upper}}</a>
            </div>
            <span class="text-secondary">© 2019</span>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link {% if "elements" in request.path or request.path == "/" %}active{% endif %}" href="{% url 'elements' %}">Elements</a></li>
                    <li class="nav-item"><a class="nav-link {% if "rules" in request.path %}active{% endif %}" href="{% url 'rules' %}">Rules</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle  {% if "shorthand" in request.path %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Shorthand
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item {% if "shorthand_training" in request.path %}active{% endif %}" href="{% url 'shorthand_training' %}">Training</a>
                          <a class="dropdown-item {% if "shorthand_lookup" in request.path %}active{% endif %}" href="{% url 'shorthand_lookup' %}">Lookup</a>
                        </div>
                    </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle  {% if "quiz" in request.path %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Quiz
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item {% if "quiz_element" in request.path %}active{% endif %}" href="{% url 'quiz_element' %}">Element</a>
                          <a class="dropdown-item {% if "quiz_shorthand" in request.path %}active{% endif %}" href="{% url 'quiz_shorthand' %}">Shorthand</a>
                        </div>
                    </li>
                    {% if SHOW_COMPETITION_VIDEOS %}
                        <li class="nav-item"><a class="nav-link {% if "competition_videos" in request.path %}active{% endif %}" href="{% url 'competition_videos' %}">Competition Videos</a></li>
                    {% endif %}
                    {% if SHOW_TC_EXAMPLES %}
                        <li class="nav-item"><a class="nav-link {% if "tc_examples" in request.path %}active{% endif %}" href="{% url 'tc_examples' %}">TC Examples</a></li>
                    {% endif %}
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>

    <div id="divMain" class="container body-content content-area-background h-100" >
{% block content %}{% endblock %}
    </div>
    <div class="modal fade" id="modalMain" tabindex="-1" role="dialog" aria-labelledby="modalMainTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding-top:0;padding-bottom:0">
          <div>
        <h5 class="modal-title" id="modalMainTitle">Lookup By Group</h5>
              </div>
          <div id="divVideoElement" class="font-weight-bold"></div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left:inherit">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalMainBody">
          <div id="modalBodyArea1"></div>
          <div id="modalBodyArea2"></div>
      </div>
    </div>
  </div>
</div>

    <div class="modal fade" id="modalTour" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="modalMainBody">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            <img class="img-fluid" id="imgTour" />
          <div class="text-right">
            <button type="button" class="btn-main btn" data-dismiss="modal">Got It</button>
          </div>
      </div>
    </div>
  </div>
</div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
     <script src="{% static 'app/scripts/nouislider.min.js' %}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.12/dist/js/bootstrap-select.min.js"></script>

    <script type="text/javascript">
        var ThemeLocation = "{% static 'app/content/' %}";
        var TourLocation = "{% static 'app/images/'%}";
        var ThemeVersion = "?version=1.1";
        var UserTheme = "{{user.usersettings.theme.file}}";
        if (UserTheme == "")
            UserTheme = "theme.css";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript">$(document).bind("mobileinit", function () { $.extend($.mobile, { autoInitializePage: false }) });
        //crazy veiwport stuff for drawing
        let vh = window.innerHeight * 0.01;
    // Then we set the value in the --vh custom property to the root of the document
    document.documentElement.style.setProperty('--vh', `${vh}px`);

    // We listen to the resize event
    window.addEventListener('resize', () => {
          // We execute the same script as before
          let vh = window.innerHeight * 0.01;
          document.documentElement.style.setProperty('--vh', `${vh}px`);
    });
        SetTheme(UserTheme);
        CheckTour("False");

        function CheckTour(force) {
            var thispage = window.location.pathname.replace(/\//g, "");
            if (thispage == "")
                thispage = "elements";
            $.getJSON("/check_tour/?page=" + thispage + "&force=" + force, function (data) {
                if (data.file != 'none') {
                    $("#imgTour").attr("src", TourLocation + data.file);
                    $("#modalTour").modal();
                }
                //console.log(data.file);
            });
        }

        function SetTheme(ThemeIn) {
            $("#ThemeLink").prop('href', ThemeLocation + ThemeIn + ThemeVersion);
        }
    </script>
     
    <script src="{% static 'app/scripts/jquery.mobile-1.4.5.min.js' %}"></script>
    <script src="https://vjs.zencdn.net/7.6.6/video.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>
