<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRSTS</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/theme.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script src="https://kit.fontawesome.com/36c6b5f765.js" crossorigin="anonymous"></script>
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <style>
        @media screen and (min-width: 601px) {
          .header-t-1 {
            
          }
          .header-t-2 {
            
          }
        }
         @media screen and (max-width: 600px) {
          .header-t-1 {
            font-size: 1.5rem
          }
          .header-t-2 {
            font-size: 1.0rem
          }
        }
    </style>
</head>

<body class="" style="overflow-y:scroll">

<div class="navbar navbar-dark nav-background fixed-top navbar-expand-md">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="/" class="navbar-brand">JRSTS</a>
                <span class="text-secondary">&copy; 2019</span>
            </div>
               <ul class="nav navbar-nav navbar-right">
    <li><a href="#" data-toggle="modal" data-target="#modalMain">Log in</a></li>
</ul>
            
        </div>
    </div>
    <div id="divMain" class="container-fluid content-area-background h-100" style="background-image: url('{% static 'app/images/wag/jrsts-lndng-bg.png' %}');background-size: cover" >
        <div class="row">
            <div class="col-md-4 col-sm-12 pt-4">
                <img class="img-fluid" src="{% static 'app/images/wag/jrsts-lndng-lgo.png' %}" />
            </div>
            <div class="col-md-8 col-sm-12 text-center d-flex flex-column justify-content-center">
                <h1 style="color:#2e2e5a" class="font-weight-bold header-t-1">JUNIOR SPORTS TRAINING SYSTEMS</h1>
                <div class="row d-flex justify-content-center pt-2 header-t-2" style="color:#2e2e5a">
                    <div><h5 class="header-t-2">FOR JUDGES</h5></div>
                     <div class="pl-3"><h5 class="header-t-2">FOR GYMNASTS</h5></div>
                     <div class="pl-3"><h5 class="header-t-2">FOR COACHES</h5></div>
                     <div class="pl-3"><h5 class="header-t-2">FOR MEDIA</h5></div>
                     <div class="pl-3"><h5 class="header-t-2">FOR FANS</h5></div>
                </div>
            </div>
        </div>
         <div class="row">
             <div class="col-md-4 col-sm-12 pt-2">
                 <div class="d-flex flex-column justify-content-center" style="border-radius:3rem;">
                     <div class="card" style="border-radius:2rem">
                          <img class="img-fluid" src="{% static 'app/images/wag/jrsts-lndng-sbscrptn.png' %}" />
                    <div class="text-center pt-4 pb-4"><a href="#"  class="btn btn-danger pt-3 pb-3"><h4>Start your FREE trial</h4></a></div>
                     </div>
                    
                 </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <img class="img-fluid" src="{% static 'app/images/wag/jrsts-lndng-lptps.png' %}" />
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-2"></div>
            <div class="col-10">
                <img class="img-fluid" src="{% static 'app/images/wag/jrsts-lndng-rbbns.png' %}" />
            </div>
        </div>

        <div class="modal fade" id="modalMain" tabindex="-1" role="dialog" aria-labelledby="modalMainTitle" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalMainTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalMainBody">
          <div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
              
                <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        {{ form.password }}
                    </div>
                </div>
               
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Log in" class="btn btn-main" />
                    </div>
                </div>
                 <div><a href="{% url 'password_reset' %}">Forgot Password?</a></div>
               
                {% if form.errors %}
                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                {% endif %}
            </form>
        </section>
    </div>
      </div>
    </div>
  </div>
</div>
       
</div>
        </div>
    
    {% load staticfiles %}
    
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript">$(document).bind("mobileinit", function(){$.extend(  $.mobile , {autoInitializePage: false})});</script>
    <script src="{% static 'app/scripts/jquery.mobile-1.4.5.min.js' %}"></script>
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
    <script type="text/javascript">
        function btnSignUp_Click() {
            if ($("#modalSignupBody").children().length == 0) {
                $.get("/signup/", function (data) {
                    $("#modalSignupBody").empty();
                    $("#modalSignupBody").append(data);
                });
            }
        }
    </script>
    </body>
</html>


