{% if user.is_authenticated %}
<form id="logoutForm" action="/logout/" method="post" class="ml-auto">
    {% csrf_token %}
    <ul class="nav navbar-nav ml-auto">
        <!--<li class="nav-item"><span class="navbar-brand">Hello {{ user.username }}!</span></li>-->
        <li class="nav-item"><a class="nav-link {% if "help" in request.path %}active{% endif %}" onclick="CheckTour('True')" href="#">Help</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle  {% if "about" in request.path or "contact" in request.path %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item {% if "about" in request.path %}active{% endif %}" href="{% url 'about' %}">About</a>
                <a class="dropdown-item {% if "contact" in request.path %}active{% endif %}" href="mailto:gymjudgehills@gmail.com">Contact</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle  {% if "subscriptions" in request.path or "settings" in request.path %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item {% if "subscriptions" in request.path %}active{% endif %}" href="{% url 'subscriptions' %}">Subscriptions</a>
                <a class="dropdown-item {% if "settings" in request.path %}active{% endif %}" href="{% url 'user_settings' %}">Settings</a>
            </div>
         </li>
        <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a class="font-weight-bold login-color" href="{% url 'login' %}">Log In</a></li>
</ul>

{% endif %}
