{% if user.is_authenticated %}
<form id="logoutForm" action="/logout/" method="post" class="ml-auto">
    {% csrf_token %}
    <ul class="nav navbar-nav ml-auto">
        <!--<li class="nav-item"><span class="navbar-brand">Hello {{ user.username }}!</span></li>-->
        {% if SHOW_DISC_SWITCH %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{request.session.disc_path|upper}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'change_disc' %}?disc=wag&next={{ request.path }}">WAG</a>
                <a class="dropdown-item" href="{% url 'change_disc' %}?disc=mag&next={{ request.path }}">MAG</a>
            </div>
        </li>
        {% endif %}
        <li class="nav-item"><a class="nav-link {% if "help" in request.path %}active{% endif %}" onclick="CheckTour('True')" href="#">Help</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle  {% if "about" in request.path or "contact" in request.path %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item {% if "about" in request.path %}active{% endif %}" href="{% url 'about' %}">About</a>
                <a class="dropdown-item {% if "contact" in request.path %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Links
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://web-sts.com/FIG{{ request.session.disc_full_name }}CodeofPointsEnglish20.pdf" target="_blank">FIG Code</a>
                <a class="dropdown-item" href="http://www.fig-gymnastics.com/site/pages/newsletters-{{ request.session.disc_path }}.php" target="_blank">FIG Newsletter</a>
                <a class="dropdown-item" href="https://web-sts.com/FIGTechnicalRegulationsEnglish.pdf" target="_blank">FIG Technical Reg.</a>
                <a class="dropdown-item" href="https://web-sts.com/ApparatusInfoEnglish.pdf" target="_blank">Apparatus Specs</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle  {% if "subscriptions" in request.path or "settings" in request.path %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item {% if "subscriptions" in request.path %}active{% endif %}" href="{% url 'subscriptions' %}">Subscriptions</a>
                <a class="dropdown-item {% if "settings" in request.path %}active{% endif %}" href="{% url 'user_settings' %}">Settings</a>
            </div>
         </li>
        <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a class="font-weight-bold login-color" href="{% url 'login' %}">Log In</a></li>
</ul>

{% endif %}
