{% block content %}
{% load staticfiles %}
<div class="sidebar-header">

</div>

<div class="row no-gutters pt-2">
    {% for event in events %}
    <div class="col">
        <label id="lblE{{event}}" class="search-button">
            <input type="checkbox" id="chkE{{event}}" value="{{event}}" class="check-search check-search-event" data-search="element__event" onchange="SearchChangeEvent(this)">
            <div class="search-button event-button">
                <img class="img-fluid" src="{% static 'app/images/wag/' %}{{event}}_White.svg" />
            </div>
        </label>
    </div>
    {% endfor %}
</div>

{% if type == "Shorthand" %}
<h5>Prompt:</h5>
<div class="row no-gutters">
    <div class="pr-2">
        <label id="lblDisplayImage" class="search-button">
            <input type="checkbox" id="chkPromptShorthandImage" class="check-search-display check-search check-search-shorthand-prompt" value="Image" onchange="SetPromptShorthand(this)">
            <div class="search-button display-button"><div style="text-transform:uppercase">Im</div></div>
        </label>
    </div>
    <div class="pr-2">
        <label id="lblDisplayShorthand" class="search-button">
            <input type="checkbox" id="chkPromptShorthandShorthand" checked="checked" class="check-search-display check-search check-search-shorthand-prompt" value="Shorthand" onchange="SetPromptShorthand(this)">
            <div class="search-button display-button"><div style="text-transform:uppercase">Sy</div></div>
        </label>
    </div>
</div>
{% else %}
<h5>Prompt:</h5>
<div class="row no-gutters">
    <div class="pr-2">
        <label id="lblDisplayImage" class="search-button">
            <input type="checkbox" id="chkPromptElementImage" class="check-search-display check-search check-search-element-prompt" value="Image" onchange="SetPromptElement(this)">
            <div class="search-button display-button"><div style="text-transform:uppercase">Im</div></div>
        </label>
    </div>
    <div class="pr-2">
        <label id="lblDisplayShorthand" class="search-button">
            <input type="checkbox" id="chkPromptElementShorthand" checked="checked" class="check-search-display check-search check-search-element-prompt" value="Shorthand" onchange="SetPromptElement(this)">
            <div class="search-button display-button"><div style="text-transform:uppercase">Sy</div></div>
        </label>
    </div>
     <div class="pr-2">
        <label id="lblDisplayShorthand" class="search-button">
            <input type="checkbox" id="chkPromptElementText" checked="checked" class="check-search-display check-search check-search-element-prompt" value="Text" onchange="SetPromptElement(this)">
            <div class="search-button display-button"><div style="text-transform:uppercase">Tx</div></div>
        </label>
    </div>
</div>
<h5>Test:</h5>
<div class="row no-gutters">
    <div class="pr-2">
        <label id="lblTestValue" class="search-button" style="width:auto !important;">
            <input type="checkbox" id="chkTestElementValue" class="check-search-display check-search check-search-element-test" value="Value" onchange="SetTestElement(this)">
            <div class="search-button display-button pl-1 pr-1" style="width:auto !important;"><div style="">Value</div></div>
        </label>
    </div>
    <div class="pr-2">
        <label id="lblTestGroup" class="search-button" style="width:auto !important;">
            <input type="checkbox" id="chkTestElementGroup" checked="checked" class="check-search-display check-search check-search-element-test" value="Group" onchange="SetTestElement(this)">
            <div class="search-button display-button pl-1 pr-1" style="width:auto !important;"><div style="">Group</div></div>
        </label>
    </div>
</div>
{% endif %}



<div class="row no-gutters d-flex pt-4">
    <button type="button" class="btn btn-second" data-toggle="modal" data-target="#modalMain" onclick="QuizReview()"><h5 class="mb-1 mt-1">Results</h5></button>
    <div class="ml-auto pr-2">
        <button type="button" class="btn btn-main" onclick="StartQuiz()"><h5 class="mb-1 mt-1">Start</h5></button>
    </div>
</div>



    <div id="divElementCountDisplay" style="padding-bottom:60px"></div>

    {% endblock %}
    {% block scripts %}
    <script type="text/javascript">
    var Event = "";
    var PromptTypeSetup = "Shorthand";
    var TestSetup = Array();
    var PromptSetup = Array();
    LoadLastSelections();

    function SetPromptShorthand(el) {
         if (!el.checked)
            $(el).prop('checked', true);
        else {
            localStorage.setItem(el.id, el.checked ? 1 : 0);
            $('.check-search-shorthand-prompt').not(el).prop('checked', false);
            $('.check-search-shorthand-prompt').not(el).each(function (i) {
                localStorage.setItem(this.id, 0);
            });
        }  
    }
    function SetPromptElement(el) {
        if ( $('.check-search-element-test:checkbox:checked').length == 0)
            $(el).prop('checked', true);
        localStorage.setItem(el.id, el.checked ? 1 : 0);
    }
    function SetTestElement(el) {
        if ( $('.check-search-element-test:checkbox:checked').length == 0)
            $(el).prop('checked', true);
        localStorage.setItem(el.id, el.checked ? 1 : 0);
    }
    function LoadLastSelections() {
        $(".check-search:checkbox").each(function (i) {
            if (localStorage.getItem(this.id) == "1")
                $(this).prop('checked', true);
            else
                $(this).prop('checked', false);
        });
        if (type == "Shorthand") {
            if ($(".check-search-shorthand-prompt:checkbox:checked").length == 0) {
                $($(".check-search-shorthand-prompt:checkbox")[0].id).prop('checked', true);
                localStorage.setItem($(".check-search-display:checkbox")[0].id, 1);
            }
        }
        else {
            if ($(".check-search-element-prompt:checkbox:checked").length == 0) {
                $('.check-search-element-prompt:checkbox').each(function (i) {
                    $(this).prop('checked', true);
                });
            }
            if ($(".check-search-element-test:checkbox:checked").length == 0) {
                $('.check-search-element-test:checkbox').each(function (i) {
                    $(this).prop('checked', true);
                });
            }
        }

        }
    function SearchChangeEvent(el) {
        //console.log("SCE");
        if (!el.checked)
            $(el).prop('checked', true);
        else {
            localStorage.setItem(el.id, el.checked ? 1 : 0);
            $('.check-search-event').not(el).prop('checked', false);
            $('.check-search-event').not(el).each(function (i) {
                localStorage.setItem(this.id, 0);
            });

            //Event = $(el).val();
        }
    }

    function SetQuizSettings() {
        if (type == "Shorthand")
            PromptTypeSetup = $(".check-search-shorthand-prompt:checkbox:checked").val();
        else {
            TestSetup = Array();
            PromptSetup = Array();
            $('.check-search-element-prompt:checkbox:checked').each(function (i) {
                PromptSetup[$(this).val()] = $(this).val();
            });
             $('.check-search-element-test:checkbox:checked').each(function (i) {
                TestSetup[$(this).val()] = $(this).val();
            });
        }
    }

    function StartQuiz() {
        SetQuizSettings();
        $.get("/quiz/?type=" + type + "&event=" + $(".check-search:checkbox:checked").val() + "&prompt=" + PromptTypeSetup, function (data) {
            $("#divContentParent").empty();
            $("#divContentParent").append(data);
            $('#sidebarCollapse').click();
        });
            }

    function QuizReview() {
        SetQuizSettings();
        $("#modalMainTitle").html("Quiz Results");
        $("#modalBodyArea2").empty();
        $.get("/quiz_results/?type=" + type + "&event=" + $(".check-search:checkbox:checked").val(), function (data) {
            $("#modalBodyArea2").append(data);
        });
        $("#modalBodyArea2").show();
    }
    
    </script>
    {% endblock %}
