{% load staticfiles %}
<div class="row no-gutters justify-content-center image-background rounded">
    <div class="text-center rounded-top text-detail">
        <div class="row">
            <div class="col">
                <div style="height:220px" class="image-background rounded position-relative">
                    <div class="detail-top-left"></div>
                    <div class="detail-top-right"><img class="img-fluid detail-sym" id="pShorthand" /></div>

                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="col-12 position-relative">
                            <img class="img-fluid detail-image" id="pImage" />
                        </div>
                        <div id="pText" class="col-12 pb-1 " style="margin-top:-1rem;line-height:1.1;height:36px;overflow:hidden;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row pt-1" id="divGroupTest" style="display:none">
    <div class="col-3 text-right mt-auto mb-auto text-base">Group: </div>
    <div class="col-9 d-flex justify-content-start">
        <div class="row">
            {% for group in groups %}
            <div class="pr-2">
                <label id="lblG{{group.str_grp}}" class="search-button">
                    <input type="checkbox" id="chkG{{group.str_grp}}" value="{{group.str_grp}}" class="check-search answer-group" onchange="SelectGroup(this)">
                    <div class="search-button group-button answer-button-group"><div>{{group.str_grp}}</div></div>
                </label>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row pt-1" id="divValueTest" style="display:none">
    <div class="col-3 text-right mt-auto mb-auto text-base">Value: </div>
    <div class="col-9 d-flex justify-content-start">
        <div class="row">
            {% for val in vals %}
            <div class="pr-2">
                <label id="lblV{{val.letter_value}}" class="search-button">
                    <input type="checkbox" id="chkV{{val.letter_value}}" value="{{val.letter_value}}" class="check-search answer-value" onchange="SelectValue(this)">
                    <div class="search-button value-button answer-button-value"><div>{{val.letter_value}}</div></div>
                </label>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="row" style="width:250px">
        <div class="text-success font-weight-bold col-6 text-right">
            <span id="divCorrectCount">Correct: 0</span>
        </div>
        <div class="text-danger font-weight-bold col-6 text-left">
            <span id="divWrongCount">Incorrect: 0</span>
        </div>
    </div>
</div>
<div class="pt-4 text-center">
    <button type="button" class="btn btn-main font-weight-bold" onclick="EndQuiz()">Finish Quiz</button>
</div>
<div id="QuizResults" style="display:none">
    <div>You got <span id="qrCorrect"></span> of <span id="qrTotal"></span> <span id="qrPercent"></span> correct.</div>
    <div class="pt-3 text-right"><a href="{% url "quiz_element" %}"><button type="button" class="btn btn-main font-weight-bold">OK</button></a></div>
</div>
{% block scripts %}
<script type="text/javascript">
    var NumElements = {{quiz|length}};
    var QuizElements = new Array();
    var QuizElementShortText = new Array();
    var QuizElementIDs = new Array();
    var QuizElementsValues = new Array();
    var QuizElementsGroups = new Array();
    var NumTests = 0;
    var GroupAnswered = false;
    var ValueAnswered = false;
    {% for q in quiz %}
        QuizElements[{{ forloop.counter0 }}] = "{{ q.element.image_url}}";
        QuizElementShortText[{{ forloop.counter0 }}] = "{{ q.short_text}}";
        QuizElementIDs[{{ forloop.counter0 }}] = "{{ q.element.id}}";
        QuizElementsValues[{{ forloop.counter0 }}] = "{{ q.element.letter_value}}";
        QuizElementsGroups[{{ forloop.counter0 }}] = "{{ q.element.str_grp}}";
    {% endfor %}
    var ImageBaseURL = "{% static 'app/images/wag/elements/'%}";
    var SymbolBaseURL = "{% static 'app/images/wag/sym/'%}";

    var OnElement = 0;
    var Answered = false;
    var Correct = 0;
    var Wrong = 0;
    var Total = 0;
    var Missed = new Array();
    var SaveUrl =  '{% url "quiz_save" %}';
    var Event = '{{event}}';

</script>
<script type="text/javascript">

    if (TestSetup["Value"]) {
        $("#divValueTest").show();
        NumTests++;
    }
    if (TestSetup["Group"]) {
        $("#divGroupTest").show();
        NumTests++;
    }

    PopulateQuiz(0);

    function PopulateQuiz(which) {
        GroupAnswered = false;
        ValueAnswered = false;
        if (PromptSetup["Shorthand"])
            $("#pShorthand").attr('src', SymbolBaseURL + QuizElements[which] + ".svg");
        if (PromptSetup["Image"])
            $("#pImage").attr('src', ImageBaseURL + QuizElements[which] + ".svg");
        if (PromptSetup["Text"])
            $("#pText").html(QuizElementShortText[which]);
    }

    function SelectValue(el) {
        if (Answered == false) {
            if (!el.checked)
                $(el).prop('checked', true);
            else
                $('.answer-value').not(el).prop('checked', false);
            ValueAnswered = true;
            if (NumTests == 1 || GroupAnswered)
                CheckAnswer();
        }
    }

    function SelectGroup(el) {
        if (Answered == false) {
            if (!el.checked)
                $(el).prop('checked', true);
            else
                $('.answer-group').not(el).prop('checked', false);
            GroupAnswered = true;
            if (NumTests == 1 || ValueAnswered)
                CheckAnswer();
        }
    }

    function CheckAnswer() {
        Answered = true;
        var AllCorrect = true;
        if (TestSetup["Value"]) {
            if ($('.answer-value:checkbox:checked').val() == QuizElementsValues[OnElement])
                $('.answer-value:checkbox:checked').next().removeClass("value-button").addClass("quiz-correct-button");
            else {
                $('.answer-value:checkbox:checked').next().removeClass("value-button").addClass("quiz-wrong-button");
                $('#chkV' + QuizElementsValues[OnElement]).next().removeClass("value-button").addClass("quiz-correct-button");
                AllCorrect = false;
            }
        }
        if (TestSetup["Group"]) {
            if ($('.answer-group:checkbox:checked').val() == QuizElementsGroups[OnElement])
                $('.answer-group:checkbox:checked').next().removeClass("group-button").addClass("quiz-correct-button");
            else {
                $('.answer-group:checkbox:checked').next().removeClass("group-button").addClass("quiz-wrong-button");
                $('#chkG' + QuizElementsGroups[OnElement]).next().removeClass("group-button").addClass("quiz-correct-button");
                AllCorrect = false;
            }
        }
        Total++;

        if (AllCorrect) {
            Correct++;
            setTimeout(QuizNext, 2000);
        }
        else {
            Missed[Wrong] = QuizElementIDs[OnElement];
            Wrong++;
            setTimeout(QuizNext, 2000);
        }

    }

    function QuizNext() {
        if (OnElement >= NumElements - 1)
            EndQuiz()
        else {
            Answered = false;
            ResetButtons();
            OnElement++;
            UpdateStats();
            PopulateQuiz(OnElement);
        }
    }

    function ResetButtons() {
        //reset button classes
        $('.quiz-wrong-button').each(function (i) {
            $(this).removeClass('quiz-wrong-button');
            if ($(this).hasClass('answer-button-value'))
                $(this).addClass('value-button');
            else
                $(this).addClass('group-button');
        });

        $('.quiz-correct-button').each(function (i) {
            $(this).removeClass('quiz-correct-button');
            if ($(this).hasClass('answer-button-value'))
                $(this).addClass('value-button');
            else
                $(this).addClass('group-button');
        });

        //uncheck em all
        $('.answer-group').prop('checked', false);
        $('.answer-value').prop('checked', false);
    }

    function UpdateStats() {
        $("#divCorrectCount").html("Correct: " + Correct);
        $("#divWrongCount").html("Incorrect: " + Wrong);
    }

    function EndQuiz() {
        if (OnElement > 0)
            SaveQuiz();

        $("#modalMainTitle").html("Quiz Results");
        $(".modal-dialog").removeClass("mw-100").removeClass("w-75");
        $("#modalBodyArea2").empty().append($("#QuizResults"));
        $("#QuizResults").show();
        $("#qrCorrect").html(Correct);
        $("#qrTotal").html(Total);
        $("#modalMain").modal();
    }

    function SaveQuiz() {
        $.ajax({
            url: SaveUrl,
            data: {
                'event': Event,
                'correct': Correct,
                'wrong': Wrong,
                'type': 'Element',
                'missed': Missed
            },
            dataType: 'json',
            success: function (data) {

            }
        });
    }
</script>

{% endblock %}