{% load staticfiles %}
<div class="row no-gutters justify-content-center pb-1">
    <div class="text-center detail-background rounded-top text-detail">
        <div class="row">
            <div class="col">
                <div style="height:220px" class="image-background rounded position-relative">
                    <div class="detail-top-left"></div>
                    <div class="detail-top-right"><img class="img-fluid detail-sym" id="pShorthand"/></div>
                    
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="col-12 position-relative">
                            <img class="img-fluid detail-image" id="pImage"/>
                        </div>
                        <div id="pText" class="col-12 pb-1 " style="margin-top:-1rem;line-height:1.1;height:36px;overflow:hidden;">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3 text-right mt-auto mb-auto">Group: </div>
    <div class="col-9 d-flex justify-content-start">
        <div class="row"> 
            {% for group in groups %}
            <div class="pr-2">
                <label id="lblG{{forloop.counter}}" class="search-button">
                    <input type="checkbox" id="chkG{{forloop.counter}}" value="{{group.str_grp}}" class="check-search" onchange="SelectGroup(this)">
                    <div class="search-button group-button"><div>{{group.str_grp}}</div></div>
                </label>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3 text-right mt-auto mb-auto">Value: </div>
    <div class="col-9 d-flex justify-content-start">
        <div class="row">
            {% for val in vals %}
            <div class="pr-2">
                <label id="lblG{{forloop.counter}}" class="search-button">
                    <input type="checkbox" id="chkG{{forloop.counter}}" value="{{val.letter_value}}" class="check-search" onchange="SelectValue(this)">
                    <div class="search-button value-button"><div>{{val.letter_value}}</div></div>
                </label>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% block scripts %}
<script type="text/javascript">
    var NumElements = {{quiz|length}};
    var Elements = new Array();
    var ElementShortText = new Array();
    var ElementIDs = new Array();
    var QuizElements = new Array();
    var QuizElementShortText = new Array();
    var QuizElementIDs = new Array();
    {% for element in lang_elements %}
        Elements[{{ forloop.counter0 }}] = "{{ element.element.image_url}}";
        ElementShortText[{{ forloop.counter0 }}] = "{{ element.short_text}}";
        ElementIDs[{{ forloop.counter0 }}] = "{{ element.element.id}}";
    {% endfor %}
    {% for q in quiz %}
        QuizElements[{{ forloop.counter0 }}] = "{{ q.element.image_url}}";
        QuizElementShortText[{{ forloop.counter0 }}] = "{{ q.short_text}}";
        QuizElementIDs[{{ forloop.counter0 }}] = "{{ q.element.id}}";
    {% endfor %}
    var ImageBaseURL = "{% static 'app/images/wag/elements/'%}";
    var SymbolBaseURL = "{% static 'app/images/wag/sym/'%}";
   
    var AnswerLoc = -1;
    var OnElement = 0;
    var Answered = false;
    var Correct = 0;
    var Wrong = 0;
    var Total = 0;
    var Missed = new Array();
    var SaveUrl =  '{% url "quiz_save" %}';
    var Event = '{{event}}';
    
</script>
<script type="text/javascript">
    PopulateQuiz(0);

    //PromptSetup.forEach(ShowPrompts); 

   /* function ShowPrompts(item) {
        $("#" + item).show();
        console.log(item);
    }*/

    function PopulateQuiz(which) {
        if (PromptSetup["Shorthand"])
            $("#pShorthand").attr('src', SymbolBaseURL + QuizElements[which] + ".svg");
        if (PromptSetup["Image"])
            $("#pImage").attr('src', ImageBaseURL + QuizElements[which] + ".svg");
        if (PromptSetup["Text"])
            $("#pText").html(QuizElementShortText[which]);
    }

    function AnswerClick(which) {
        if (Answered == false) {
            Answered = true;
            Total++;
            if (which == AnswerLoc)
                AnswerCorrect();
            else
                AnswerWrong(which);
            UpdateStats();
        }  
    }

    function UpdateStats() {
        $("#divTotalCount").html(Total);
        $("#divCorrectCount").html(Correct);
        $("#divWrongCount").html(Wrong);
    }

    function AnswerCorrect() {
        Correct++;
        $("#divAnswerContainer" + AnswerLoc).addClass("quiz-border-correct").removeClass("quiz-border-neutral");
        setTimeout(QuizNext, 2000);
    }

    function AnswerWrong(which) {
        Missed[Wrong] = QuizElementIDs[OnElement];
        Wrong++;
        $("#divAnswerContainer" + AnswerLoc).addClass("quiz-border-correct").removeClass("quiz-border-neutral");
        $("#divAnswerContainer" + which).addClass("quiz-border-wrong").removeClass("quiz-border-neutral");
        setTimeout(QuizNext, 2000);
    }

    function QuizNext() {
        if (OnElement >= NumElements - 1)
            EndQuiz()
        else {
            Answered = false;
            for (var i = 1; i <= 4; i++)
                $("#divAnswerContainer" + i).addClass("quiz-border-neutral").removeClass("quiz-border-correct").removeClass("quiz-border-wrong");
            OnElement++;
            PopulateQuiz(OnElement);
        }
    }

    function GenerateRandomAnswer(which) {
        var QuizA = Math.floor((Math.random() * NumElements));
        //make sure its not the correct answer!
        if (ElementIDs[QuizA] == QuizElementIDs[which]) {
            QuizA = QuizA + 1;
            if (QuizA > NumElements) {
                QuizA = 0;
            }
        }
        return QuizA;
    }
    function GenerateAnswerLocation() {
        return Math.floor((Math.random() * 4) + 1);
    }
    function EndQuiz() {
        if (OnElement > 0)
            SaveQuiz();
            
        $("#modalMainTitle").html("Quiz Results");
        $(".modal-dialog").removeClass("mw-100").removeClass("w-75");
        $("#modalBodyArea2").empty().append($("#QuizResults"));
        $("#QuizResults").show();
        $("#qrCorrect").html(Correct);
        $("#qrTotal").html(Total);
        $("#modalMain").modal();
    }

    function SaveQuiz() {
        var note = $('#txtUserNotes').val();

        $.ajax({
            url: SaveUrl,
            data: {
                'event': Event,
                'correct': Correct,
                'wrong': Wrong,
                'type': 'Element',
                'missed': Missed
            },
            dataType: 'json',
            success: function (data) {
              
            }
        });
    }
</script>

{% endblock %}