{% load staticfiles %}
{% block scripts %}
<script type="text/javascript">
    var NumElements = {{lang_elements|length}};
    var Elements = new Array();
    var ElementShortText = new Array();
    {% for element in lang_elements %}
        Elements[{{ forloop.counter0 }}] = "{{ element.element.image_url}}";
        ElementShortText[{{ forloop.counter0 }}] = "{{ element.short_text}}";
    {% endfor %}
    var ImageBaseURL = "{% static 'app/images/wag/elements/'%}";
    var SymbolBaseURL = "{% static 'app/images/wag/sym/'%}";
    
</script>
{% endblock %}

<div class="row">
    <div class="col-6 pt-2">
        <div style="height:150px" class="image-background rounded" id="divPrompt">
            <div class="row h-100 justify-content-center align-items-center text-center">
                <div class="col-12 position-relative">
                    <img id="imgPrompt" class="img-fluid" style="max-height:150px;overflow:hidden" />
                </div>
                <div id="divPromptText" class="col-12 pb-1" style="margin-top:-2rem; line-height:1.1;height:32px;overflow:hidden;font-size:.8rem">
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="row">
            <div class="col-6 pt-2">
                <div style="height:120px" class="image-background rounded">
                    <div class="row h-100 justify-content-center align-items-center text-center">
                        <div class="col-12 position-relative">
                            <img id="imgAnswer1" class="img-fluid" style="max-height:120px;overflow:hidden" />
                        </div>
                        <div id="divAnswer1Text" class="col-12 pb-1 align-self-end" style=" line-height:1.1;height:32px;overflow:hidden;font-size:.8rem">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 pt-2">
                <div style="height:120px" class="image-background rounded">
                    <div class="row h-100 justify-content-center align-items-center text-center">
                        <div class="col-12 position-relative">
                            <img id="imgAnswer2" class="img-fluid" style="max-height:120px;overflow:hidden" />
                        </div>
                        <div id="divAnswer2Text" class="col-12 pb-1 align-self-end" style=" line-height:1.1;height:32px;overflow:hidden;font-size:.8rem">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 pt-2 ">
                <div style="height:120px" class="image-background rounded">
                    <div class="row h-100 justify-content-center align-items-center text-center">
                        <div class="col-12 position-relative">
                            <img id="imgAnswer3" class="img-fluid" style="max-height:120px;overflow:hidden" />
                        </div>
                        <div id="divAnswer3Text" class="col-12 pb-1 align-self-end" style=" line-height:1.1;height:32px;overflow:hidden;font-size:.8rem">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 pt-2">
                <div style="height:120px" class="image-background rounded">
                    <div class="row h-100 justify-content-center align-items-center text-center">
                        <div class="col-12 position-relative">
                            <img id="imgAnswer4" class="img-fluid" style="max-height:120px;overflow:hidden" />
                        </div>
                        <div id="divAnswer4Text" class="col-12 pb-1 align-self-end" style=" line-height:1.1;height:32px;overflow:hidden;font-size:.8rem">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>