
{% load staticfiles %}

              
<div id="detail-single" class="collapse show detail-single">
    <ul class="list-group">
            <li class="list-group-item rules-cue" >
                               
                <div>
                    <div class="position-absolute col pr-4 text-right" style="right:0px;top:0px">
                {% if vidcount > 0 %}
                    {% if request.user.is_staff or request.user.is_superuser or SHOW_VIDEOS %}
                        <i class="fas fa-play-circle"></i><sub>{{vidcount}}</sub>
                    {% endif %}
                {% endif %}
            </div>
                    {% autoescape off %}
                    <pre>{{rule.cue}}</pre>
                    {% endautoescape %}
                    <div class="rule-section">
                        {{rule.rule.sub_rule}}
                    </div>
                </div>
                                
        </li>
            <div id="answer-single" class="position-relative">
            <div class="additional-info-rules" id="divAdditionalInfo">
                {{rule.additional_info}}
            </div>
            <div class="list-group-item rules-response">
                <div class="">
                    {% autoescape off %}
                    <pre>{{rule.response}}</pre>
                    {% endautoescape %}
                </div>
                <div class="row no-gutters">
                    <div class="col d-flex rule-section">
                        <div class="rule-section">
                        {{rule.rule.sub_rule}}
                    </div>
                        <div class="pl-3">
                            {% if vidcount > 0 %}
                                {% if request.user.is_staff or request.user.is_superuser or SHOW_VIDEOS %}
                                    <div class="text-center"><button id="btnVideo" type="button" class="btn btn-main pr-3 pl-3"  style="padding: 0rem 0.2rem;font-size:0.75rem;font-weight:bold"  onclick="LoadVideo('{{ rule.id }}')">
                                    <i class="fas fa-play-circle"></i>&nbsp;{{vidcount}}</button></div>
                                {% endif %}
                            {% endif %}
                        </div>
                                            
                    </div> 
                                        
                </div>
            </div>
        </div>

    </ul>
    <br/>
    <button id="btnGoBack" onclick="GoBack()" class="btn btn-main mb-2">Go Back</button>
</div>


<script type="text/javascript">
    function GoBack() {
        VideoGoBackDepth -= 2;
        $.get(VideoGoBack[VideoGoBackDepth], function (data) {
            
            $("#modalBodyArea1").empty();
            $("#modalBodyArea1").append(data);
            $("#btnVid1").click();
            if (VideoGoBackDepth > 1)
                $("#btnGoBack").show();
        });
       
    }

    function LoadVideo(RuleID,EditMode = false) {
        $("#modalMainTitle").html("");
        if (window.innerWidth >= 600)
            $(".modal-dialog").addClass("mw-100").addClass("w-75");
        $("#modalBodyArea2").hide();
        //$("#modalBodyArea1").empty();
        $.get("/video_player/?rule=" + RuleID + "&editmode=" + EditMode, function (data) {
            $("#modalBodyArea1").append(data);
            $("#btnVid1").click();
            $("#detail-single").hide();
            if (VideoGoBackDepth > 1)
                $("#btnGoBack").show();
        });
        $("#modalBodyArea1").show();
    }
</script>