
{% load staticfiles %}
    <div class="card bg-dark">
        {% for rule in rules %}
            {% ifchanged rule.rule.section %}
                {% if not forloop.first %}
                    </ul>
                    </div>
                {% endif %}
                <div class="card-header h4" data-toggle="collapse" data-target="#detail-{{forloop.counter}}">
                    {{rule.rule.section}}
                </div>
                    <div id="detail-{{forloop.counter}}" class="collapse show">
                        <ul class="list-group">
            {% endifchanged %}
                             <li class="list-group-item bg-secondary" style="cursor:pointer" >
                                 <div data-toggle="collapse" data-target="#answer-{{forloop.counter}}">
                                    {{rule.cue}}
                                 </div>
                                
                            </li>
                             <div id="answer-{{forloop.counter}}" class="collapse" data-toggle="collapse" data-target="#answer-{{forloop.counter}}">
                                     <div class="list-group-item bg-white text-dark">
                                        {{rule.response}}
                                     </div>
                                 </div>
           
        {% endfor %}
                </ul>
        </div>
    </div>

<div id="divNumElements" style="display:none">{{num_rules}}</div>