{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

    <div id="divSearchSidebar" style="overflow:auto">
        <div class="d-flex h-100">
            <div>
                
                <div id="divSearchArea" class="pl-2">
   
                </div>
            </div>
            <div id="sidebarCollapse" class="sidebar-collapse">
                <i class="fas fa-ellipsis-v fa-2x"></i>
            </div>
        </div>
        
    </div>
    <div id="divContentParent" class="position-relative d-flex flex-column justify-content-end">
        <div class="row">
            <div id="divElement" class="col">

            </div>
        </div>
        <div id="divHistoryHolder" class="d-flex justify-content-center">
            <button id="btnHistory" type="button" class="btn btn-main mt-2"  data-toggle="modal" data-target="#modalMain"  style="display:none" onclick="LoadHistory()">History</button>
            <div id="divHistoryArea">
                <div id="divHistoryDrawings">
                    <div class="row">
                        <div class="col d-flex justify-content-center w-100" id="divShorthandPrevYou">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center w-100" id="divShorthandPrev">

                        </div>
                    </div>
                </div>
                 <div class="row d-flex justify-content-center pt-2">
                    <div class="pr-2" id="divClearHistory">
                        <button id="btnClearList" type="button" class="btn btn-main" style="display:none" onclick="ClearList(); return false;">Clear List</button>
                    </div>
                     <div  class="pl-2" id="divClearHistory">
                        <button type="button" id="btnClearLast" class="btn btn-main" style="display:none" onclick="ClearLast(); return false;">Clear Last</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-auto">
            <div class="text-base col text-center d-flex justify-content-center" id="divShorthandLookup"><!--justify-content-around-->
                  <div class="align-self-center pr-4">
                        <button type="button" class="btn btn-main" data-toggle="modal" data-target="#modalMain" onclick="LoadLookup()"><h5 class="mb-1 mt-1">Find</h5></button>
                </div>
                <div style="width:200px;">
                   
                    <div class="h5">Draw Here</div>
                    <img src="{% static 'app/images/'%}{{request.session.disc_path}}/sym/{{ lang_elements.element.image_url}}.svg" id="ShorthandTrainingImageTrace" name="ShorthandTrainingImageTrace" style="max-height:200;width:200px;position:absolute;opacity:0.5;display:none;user-drag: none;user-select: none;-moz-user-select: none;-webkit-user-drag: none;-webkit-user-select: none;-ms-user-select: none;">
                    <canvas id="can" width="200" height="200"></canvas>
                    <img id="canvasimg" style="display:none;">
                    <table class="w-100" border="0" cellpadding="0" cellspacing="0">
                        <tr>

                            <td align="center" class="font-weight-bold">
                            <button type="button" id="btnClear" class="btn btn-main" onclick="erase(); return false;">Clear</button></td>
                        </tr>
                    </table>
                    <input type="checkbox" id="chkTrace" style="display:none">
                    <input type="checkbox" id="chkSave" style="display:none">
                    <div class="col text-base">
                        <table class="w-100">
                            <tr>
                                <td align="right">
                                    <label id="lblAutoClear" class="switch">
                                        <input type="checkbox" id="chkAutoClear" checked="checked">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                <td style="vertical-align:top" align="left">
                                    <label for="chkAutoClear" style="margin-bottom:0 !important">Auto Clear</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                
                <div class="align-self-center pl-4">
                        <button type="button" class="btn btn-main"  onclick="CheckImage(); return false;"><h5 class="mb-1 mt-1">Done</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'app/scripts/shorthand_drawing.js' %}?v=1.1"></script>
<script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}";
     var Disc = "{{request.session.disc_full_name}}";
</script>
<script type="text/javascript">
     if (Disc == "")
        Disc = "Womens";
    var type = '{{type}}';
    var list_type='{{list_type}}';
    var drawing_prefix = '{{drawing_prefix}}';
    var OnDrawing = 1;
    var SymbolLocation = "{% static 'app/images/'%}{{request.session.disc_path}}/sym/";
    var SmallSymbolDim = 65;
    var MaxFit = 5;
    var SmallMode = true;
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            // open or close navbar
            $('#divSearchSidebar').toggleClass('active');
            // close dropdowns
            $('.collapse.in').toggleClass('in');
            // and also adjust aria-expanded attributes we use for the open/closed arrows
            // in our CSS
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
        /* $("#divSearchSidebar").mCustomScrollbar({
                theme: "minimal",

            });*/

        $('#dismiss').on('click', function () {
            // hide sidebar
            $('#divSearchSidebar').removeClass('active');
            // hide overlay
            // $('.overlay').removeClass('active');
        });
        $.get("/shorthand_search/", function (data) {
            $("#divSearchArea").empty();
            $("#divSearchArea").append(data);
            LoadLastSelections();
        });

        if ($(window).width() >= 1200) {
            $('#sidebarCollapse').click();
        }
         $('#divSearchSidebar').on("swiperight", ToggleSearchOut);
            $('#divSearchSidebar').on("swipeleft", ToggleSearchIn);


        MaxFit = Math.floor(($(window).width() - 60) / SmallSymbolDim);
        if ($(window).width() >= 750) {
            SmallMode = false;
        }
        else {
            $("#modalBodyArea2").empty().append($("#divHistoryArea"));
            $("#btnHistory").show();
            $(".modal-dialog").removeClass("mw-100").removeClass("w-75");
            MaxFit = 20
            $("#divHistoryDrawings").css("overflow", "auto");
        }

         if (localStorage.shorthand_auto_clear) {
            $('#chkAutoClear').prop("checked", localStorage.shorthand_auto_clear == 1)
        }

        $('#chkAutoClear').change(function() {
            localStorage.shorthand_auto_clear = this.checked ? 1 : 0
        });

        DrawInit();
        $("#divContentParent").css({ 'min-height': 'calc(var(--vh, 1vh) * 100 - ' + $(".navbar").height() + 'px - ' +  $(document.body).css("padding-top") + ' - ' + $(document.body).css("padding-bottom")});
        

    });
    function ToggleSearchOut() {
            if ($("#divSearchSidebar").hasClass("active")) {
            }
            else
                $('#sidebarCollapse').click();
        }
        function ToggleSearchIn() {
            if ($("#divSearchSidebar").hasClass("active"))
                $('#sidebarCollapse').click();
        }
    function LoadLookup() {
        $("#modalMainTitle").html("Lookup By Group");
        $(".modal-dialog").addClass("mw-100").addClass("w-75");
        $("#modalBodyArea2").hide();
        $("#modalBodyArea1").empty();
        $.get("/element_lookup/?event=" + Event, function (data) {
            $("#modalBodyArea1").append(data);
        });
        $("#modalBodyArea1").show();
    }
    function LoadHistory() {
        $("#modalMainTitle").html("History");
        $("#modalBodyArea1").hide();
        $("#modalBodyArea2").show();
        document.getElementById("divHistoryDrawings").scrollLeft = document.getElementById("divHistoryDrawings").scrollWidth;
        
    }
    function DisplayElement(idIn, eventIn) {
        //attach setting the list height to the element div finishing its animation
        $("#divElement").load("/element_for_shorthand?id=" + idIn + '&event=' + eventIn, '');
    }
    function AddToList(result) {
        var image = SymbolLocation + result + ".svg";
        $("#divShorthandPrev").append('<div  id="divShorthandPrev' + OnDrawing + '" name="divShorthandPrev' + OnDrawing + '" style="display:inline-block;vertical-align:top;align:center"><img src="' + image + '" id="ShorthandPrev' + OnDrawing + '" name="ShorthandPrev' + OnDrawing + '" style="padding-right:5px;height:' + SmallSymbolDim + 'px;width:' + SmallSymbolDim + 'px;user-drag: none;user-select: none;-moz-user-select: none;-webkit-user-drag: none;-webkit-user-select: none;-ms-user-select: none;background-color:white"><br/><span  id="spanShorthandPrev' + OnDrawing + '" style="float:left;width:' + SmallSymbolDim + 'px;overflow:hidden;text-overflow: ellipsis"></span></div>');
       
        if (OnDrawing >= MaxFit - 1)
            $("#divShorthandPrev" + (OnDrawing - MaxFit + 1)).remove();
        OnDrawing++;
        document.getElementById("divShorthandPrev").scrollLeft=document.getElementById("divShorthandPrev").scrollWidth;

    }
    function AddToListYou(image) {
        $('#divShorthandPrevYou').append('<div  id="divShorthandPrevYou' + OnDrawing + '" name="divShorthandPrevYou' + OnDrawing + '" style="display:inline-block;vertical-align:top;align:center"><img src="' + image + '" id="ShorthandPrevYou' + OnDrawing + '" name="ShorthandPrevYou' + OnDrawing + '" style="padding-right:5px;height:' + SmallSymbolDim + 'px;width:' + SmallSymbolDim + 'px;user-drag: none;user-select: none;-moz-user-select: none;-webkit-user-drag: none;-webkit-user-select: none;-ms-user-select: none;background-color:white"></div>');
        if (OnDrawing >= MaxFit - 1)
            $("#divShorthandPrevYou" + (OnDrawing - MaxFit + 1)).remove();
        CheckAndHideHistoryButtons();
        document.getElementById("divShorthandPrevYou").scrollLeft=document.getElementById("divShorthandPrevYou").scrollWidth;
    }
    function SetResult(result) {
        DisplayElement(result.replace(Event.toLowerCase(), ""), Event);
        if ($("#chkAutoClear").prop("checked"))
            erase();
        //if (!SmallMode)
            AddToList(result);
    }
    function CheckImageError(result) {

    }
    function CheckImageBefore(image) {
        //if (!SmallMode)
            AddToListYou(image);
    }

    function ClearList() {
        $('#divShorthandPrevYou').empty();
        $('#divShorthandPrev').empty();
        CheckAndHideHistoryButtons();
    }
    function ClearLast() {
        $('#divShorthandPrevYou' + (OnDrawing - 1)).remove();
        $('#divShorthandPrev' + (OnDrawing - 1)).remove();
        OnDrawing--;
        CheckAndHideHistoryButtons();
        }

    function CheckAndHideHistoryButtons() {
        if ($('#divShorthandPrevYou').has("div").length) {
           $("#btnClearList").show();
           $("#btnClearLast").show(); 
        }
        else {
            $("#btnClearList").hide();
            $("#btnClearLast").hide();
        }
    }

</script>
{% endblock %}
