{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
<div class="wrapper-sidebar">
    <div id="divSearchSidebar" style="overflow:auto">
        <div class="d-flex h-100">
            <div>
                <div id="dismiss">
                    <svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path></svg>
                    <i class="fas fa-arrow-left fa-2x"></i>
                </div>
                <div id="divSearchArea" class="pl-2">
   
                </div>
            </div>
            <div id="sidebarCollapse" class="sidebar-collapse">
                <i class="fas fa-ellipsis-v fa-2x"></i>
            </div>
        </div>
        
    </div>
    <div id="divContentParent" class="position-relative">
    
        <div id="divElement" style="">

        </div>

        <div class="text-white col text-center" id="divShorthandLookup">
            <div style="width:200px;margin:auto">
                <div class="h5">Draw Here</div>
                <img src="{% static 'app/images/wag/sym/'%}{{ lang_elements.element.image_url}}.svg" id="ShorthandTrainingImageTrace" name="ShorthandTrainingImageTrace" style="max-height:200;width:200px;position:absolute;opacity:0.5;display:none;user-drag: none;user-select: none;-moz-user-select: none;-webkit-user-drag: none;-webkit-user-select: none;-ms-user-select: none;">
                <canvas id="can" width="200" height="200"></canvas>
                <img id="canvasimg" style="display:none;">
                <table class="w-100" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" class="font-weight-bold"><a href="#" onclick="CheckImage(); return false;">Done</a></td>
                        <td align="center" class="font-weight-bold"><a href="#" onclick="erase(); return false;">Clear</a></td>
                    </tr>
                </table>
                <input type="checkbox" id="chkTrace" style="display:none" >
                <input type="checkbox" id="chkSave" style="display:none" >
            </div>
        </div>

    </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'app/scripts/shorthand_drawing.js' %}"></script>
<script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
<script type="text/javascript">
    var type = '{{type}}';
    var Disc = "Womens";
    var Event = "FX";
</script>
<script type="text/javascript">
    $(document).ready(function () {
              $('#sidebarCollapse').on('click', function () {
                // open or close navbar
                $('#divSearchSidebar').toggleClass('active');
                // close dropdowns
                $('.collapse.in').toggleClass('in');
                // and also adjust aria-expanded attributes we use for the open/closed arrows
                // in our CSS
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
              });
             /* $("#divSearchSidebar").mCustomScrollbar({
                  theme: "minimal",
                 
              });*/

             $('#dismiss').on('click', function () {
                // hide sidebar
                $('#divSearchSidebar').removeClass('active');
                // hide overlay
               // $('.overlay').removeClass('active');
             });
             /*$.get("/" + search_type + "_search/", function (data) {
                 $("#divSearchArea").empty();
                 $("#divSearchArea").append(data);
                 LoadLastSelections();
             });*/

            if ($(window).width() >= 1200)
            $('#sidebarCollapse').click();

        DrawInit();

         });
    function DisplayElement(idIn,eventIn)
    {
        //attach setting the list height to the element div finishing its animation
        $("#divElement").load("/element_for_shorthand?id=" + idIn + '&event=' + eventIn,'');
    }

    function SetResult(result) {
        DisplayElement(result.replace(Event.toLowerCase(), ""), Event);
    }
    function CheckImageError(result) {

    }
    function CheckImageBefore() {

    }

</script>
{% endblock %}
