{% block content %}
{% load staticfiles %}
<div class="row">
    <div class="col-12 col-md-1">
        {% for vid in element.element.videos.all %}
             <button id="btnVid{{ forloop.counter }}" type="button" class="btn btn-main mb-2" onclick="ShowVideo({{ vid.id }},'{{ vid.file }}')">{{ forloop.counter }}</button>
        {% endfor %}
    </div>
    <div class="col-12 col-md-8">
        <div cladss="embed-responsive embed-responsive-16by9 z-depth-1-half">
            <video controls  id="VideoPlayer" class="video-js vjs-16-9">
                <source src="{% static 'app/videos/wag/' %}{{ element.element.event }}/{{element.element.videos.first.file}}" type="video/mp4">
            </video>
        </div>
        <div class="row no-gutters pt-2">
            <div class="col-12 col-md-4 pr-4">
                <div class="row no-gutters">
                    <div class="col-3 text-center">
                        <i class="fas fa-fast-backward" style="font-size:1.6rem;cursor:pointer" onmouseup="VideoStepEnd();" onmouseout="VideoStepEnd();" onmousedown="VideoStep(-5);"></i>
                    </div>
                    <div class="col-3 text-center" style="padding-top:0.05rem">
                        <i class="fas fa-step-backward" style="font-size:1.45rem;cursor:pointer" onmouseup="VideoStepEnd();" onmouseout="VideoStepEnd();" onmousedown="VideoStep(-1)"></i>
                    </div>
                    <div class="col-3 text-center"  style="padding-top:0.05rem">
                        <i class="fas fa-step-forward"  style="font-size:1.45rem;cursor:pointer" onmouseup="VideoStepEnd();" onmouseout="VideoStepEnd();" onmousedown="VideoStep(1)"></i>
                    </div>
                    <div class="col-3 text-center">
                        <i class="fas fa-fast-forward" style="font-size:1.6rem;cursor:pointer" onmouseup="VideoStepEnd();" onmouseout="VideoStepEnd();" onmousedown="VideoStep(5)"></i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="row no-gutters">
                    <div class="col-8 pt-1">
                        <div id="SpeedSlider"></div>
                    </div>
                    <div class="col-4 pl-4" id="divsSpeedSliderValues">
           
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-12 col-md-3">
        Notes Area
    </div>
</div>

{% endblock %}
{% block scripts %}

<script type="text/javascript">
      var SourceBase = "{% static 'app/videos/wag/' %}{{ element.element.event }}/";

</script>
<script type="text/javascript">
    var VideoPlayer = document.getElementById("VideoPlayer");
    var VidJSPlayer;
    var FrameStepTimer;
    //level slider
    var SpeedSlider = document.getElementById("SpeedSlider");

    noUiSlider.create(SpeedSlider, {
        start: 1,
        connect: [true,false],
        range: {
            'min': 0,
            'max': 1.25
        },
        step: 0.25,

    });


    SpeedSlider.noUiSlider.on('update', function (values, handle) {
        var SpeedDisplay = 0
        if (values[0] == "0.00")
            SpeedDisplay = "Stopped";
        else if (values[0] == "0.25")
            SpeedDisplay = "1/4";
        else if (values[0] == "0.50")
            SpeedDisplay = "1/2";
        else if (values[0] == "0.75")
            SpeedDisplay = "3/4";
        else if (values[0] == "1.00")
            SpeedDisplay = "Full";
        else if (values[0] == "1.25")
            SpeedDisplay = "125%";
        $("#divsSpeedSliderValues").html(SpeedDisplay);
        VideoPlayer.playbackRate = values[0];

    });

    Lslider.noUiSlider.on('end', function (values, handle) {
       //
    });

     $(document).keydown(function(event) { 
        var key = (event.keyCode ? event.keyCode : event.which); 
        if (key==187)//+
		{
			VideoStep(1);
			VideoStepEnd();
		}
		else if(key==189)//-
		{
			VideoStep(-1);
			VideoStep();
		}
    }); 

    function VideoStep(amountIn) {
        VideoPlayer.pause();
        var now=VideoPlayer.currentTime;
        VideoPlayer.currentTime=now+amountIn/30;
        FrameStepTimer=setTimeout("VideoStep(" + amountIn + ")",250);
    }

    function VideoStepEnd() {
        clearTimeout(FrameStepTimer);
    }
   

    function ShowVideo(idIn, fileIn) {
        var VidJSPlayer = videojs("VideoPlayer");
        VidJSPlayer.pause();
        var vidurl = SourceBase + fileIn;
        VidJSPlayer.src({
            "type": "video/mp4",
            "src": vidurl
        });
        VidJSPlayer.play();
       /* VideoPlayer.pause();
        VideoPlayer.src = SourceBase + fileIn;
        VideoPlayer.load();
        VideoPlayer.play();*/
    }




</script>

{% endblock %}