
{% load staticfiles %}

<div class="row ">
   
    <div class="col-12">
         
        <div class="d-flex justify-content-center">
                
                <div class="col-12 col-md-8" id="VidHoldForClick">
                    {% include "app/video.html" %}
                </div>
                <div class="col-12 col-md-4"  id="VidHoldForClick2">
                    <div id="divNotesArea" class="pl-2">
                    </div>
                </div>
        </div>
    </div>   
</div>

<script src="{% static 'app/scripts/video_player.js' %}?v=1.4"></script>
<script type="text/javascript">
    var SourceBase = "{% static 'app/videos/'%}{{request.session.disc_path}}/{{ video.video.event }}/";
    var DiscP = "{{request.session.disc_path}}";
    var EventP = "{{ video.video.event }}";
    var vidid = "{{video.video.id}}";
    var vidfile = "{{video.video.file}}";
    var vidfps = "{{video.video.fps}}";
    var vidoldid = "{{video.video.old_id}}";
    var vidtype = "{{video.type}}";
    var tohide="";

    if (DiscP == "mag")
        DiscP = "Mens";
    else
        DiscP = "Womens";

    token = "{{ csrf_token }}";
    
    $("#divVideoElement").html("{{video.year}} {{video.type}}-Jury {{video.video.event}} {{video.name}}");
   
</script>
<script type="text/javascript">
    function VidLoad()
    {
    if (vidtype=="D")
    tohide="E";
    else
    tohide="D";
    //console.log("{{video.competition_group.competition.type.short_name}}{{video.competition_group.competition.short_name}}/{{video.video.event}}/{{video.competition_group.short_name}}");
   
        ShowVideo(vidid, vidfile, vidfps,vidoldid,-1,"Examples",tohide);
     if (vidtype=="D")
    {
    $("#NotesTitleE").hide();
    $("#NotesE").hide();
    console.log("Hide E");
    }
    else
    {
     $("#NotesTitleD").hide();
    $("#NotesD").hide();
    console.log("Hide D");
    }
     $("#btnVidElement").hide();
    }
    function DoNothing()
    {
    //exists solely to stop clicking around video to close screen
    return false;
    }
    $("#VidHoldForClick").click(function(e) {
   e.stopPropagation();
});
     $("#VidHoldForClick2").click(function(e) {
   e.stopPropagation();
});

</script>

