{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<div class="row text-base">
    
    <div class="col-5">
        <div class="d-flex">
            <div id="divVidList" style="overflow:auto;width:60px">

                {% for video in videos %}
                <div id="divVideo{{ video.id }}" onclick="VideoClick({{ video.id }},'{{ video.file }}',this,{{vid.video.fps}})" style="cursor:pointer;font-size:0.8rem" class="video-select">{{ video.id }}</div>
                {% endfor %}
               
            </div>
            <div style="flex-grow:1" class="pl-2">
                    
                <div>{% include "app/video.html" %}</div>
                <div class="row pt-2">
                    <div class="col-6">
                        <div class="form-group">
                            <select class="selectpicker form-control" id="ddlElement" data-live-search="true" data-size="8" data-header="Select an element" title="Select an element">
                                {% for element in elements %}
                                {% ifchanged element.element.str_grp %}
                                {% if not forloop.first %}
                                </optgroup>
                                {% endif %}
                                <optgroup label="Group {{ element.element.str_grp }}">
                                    {% endifchanged %}
                                    <option value="{{ element.element.id }}" data-subtext="{{ element.element.letter_value }}">{{ element.id_number_text }} | {{ element.short_text }}</option>
                                    {% if forloop.last %}
                                </optgroup>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <button id="btnAddElement" type="button" class="btn btn-main" onclick="AddElement_Click()">Add Element</button>
                        <button id="btnUpdateElement" type="button" class="btn btn-main" onclick="UpdateElement_Click()">Update Element</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <select class="selectpicker form-control" id="ddlRule" data-live-search="true" data-size="8" data-header="Select a deduction" title="Select a deduction">
                                {% for rule in rules %}

                                <option value="{{ rule.id }}" data-subtext="{{ rule.deduction_amount }}">{{ rule.text }}</option>

                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <button id="btnAddDeduction" type="button" class="btn btn-main" onclick="AddRule_Click()">Add Deduction</button>
                        <button id="btnUpdateDeduction" type="button" class="btn btn-main" onclick="UpdateRule_Click()">Update Deduction</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <select class="selectpicker form-control" id="ddlUnrated" data-live-search="true" data-size="8" data-header="Select an unrated element" title="Select an unrated element">
                                 {% for unrated in unrateds %}

                                <option value="{{ unrated.id }}">{{ unrated.name }}</option>

                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <button id="btnAddUnrated" type="button" class="btn btn-main" onclick="AddUnrated_Click()">Add Unrated</button>
                        <button id="btnUpdateUnrated" type="button" class="btn btn-main" onclick="UpdateUnrated_Click()">Update Unrated</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="divNotesEditArea" class="col-5">
        <div id="trBase" class="d-flex no-gutters text-center mt-1">
            <div class="col-5">
                Item
            </div>
            <div class="col-1">
                ID
            </div>
            <div class="col-half">
                Val
            </div>
            <div class="col-half">
                Frame
            </div>
            <div class="col-1">
                CR
            </div>
            <div class="col-1">
                Color
            </div>
            <div class="col-2">
                No value
            </div>
            <div class="col-1">
                Skip
            </div>
        </div>
        
    </div>
    <div class="col-2">
        <div class="row no-gutters pt-2">
                        {% for ev in events %}
                        <div class="col-3">
                            <label id="lblE{{ev}}" class="search-button">
                                <input type="checkbox" id="chkE{{ev}}" value="{{ev}}" class="check-search check-search-event" data-search="element__event" {% if ev|lower == event %} checked="checked" {% endif %} onchange="ChangeEvent(this)">
                                <div class="search-button event-button">
                                    <img class="img-fluid" src="{% static 'app/images/' %}{{request.session.disc_path}}/{{ev}}_White.svg" />
                                </div>
                            </label>
                        </div>
                        {% endfor %}
                </div>
        <button id="btnUpdateFrame" type="button" class="btn btn-main mt-2" onclick="UpdateFrame_Click()">Update Frame</button><br/>
        <button id="btnDuplicate" type="button" class="btn btn-main mt-2" onclick="Duplicate()">Duplicate</button><br />
        <button id="btnRemove" type="button" class="btn btn-main mt-2" onclick="Remove()">Remove</button><br /><br/>
        <button id="btnSave" type="button" class="btn btn-main" onclick="SaveNotes_Click()">Save Notes</button><br/><br/>
        <button id="btnPreview" type="button" class="btn btn-main" onclick="UpdatePreview_Click()">Update Preview</button><br/><br/>
        <div id="divNotesArea">
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}

<script type="text/javascript">
    var SourceBase = "{% static 'app/videos/'%}{{request.session.disc_path}}/{{ event }}/";
    var Elements = new Array();
    var Unrated = new Array();
    var DiscP = "{{request.session.disc_path}}";
    var Rules = new Array();
    var EventP = "{{ event }}";
    token = "{{ csrf_token }}";
    {% for element in elements %}
    Elements[{{element.element.id}}] = {group: '{{ element.element.str_grp }}',
                        val: '{{ element.element.letter_value }}',
                        idtext: '{{ element.id_number_text }}',
                        text: '{{ element.short_text }}',
                        id: '{{element.element.id}}'};
    {% endfor %}
    {% for unrated in unrateds %}
    Unrated[{{unrated.id}}] = {name: '{{ unrated.name }}',
                        id: '{{unrated.id}}'};
    {% endfor %}
    {% for rule in rules %}
    Rules[{{rule.id}}] = {rule: '{{ rule.rule }}',
                        text: '{{ rule.text }}',
                        deduction_amount: '{{ rule.deduction_amount }}',
                        connected_elements: '{{ rule.connected_elements }}',
                        id: '{{rule.id}}'};
    {% endfor %}
    if (DiscP == "mag")
        DiscP = "Mens";
    else
        DiscP = "Womens";

    token = "{{ csrf_token }}";

   
</script>
<script src="{% static 'app/scripts/video_player.js' %}?v=1.51"></script>
<script type="text/javascript">

    var ChangesMade = false;
    var SelectedRow = -1;
    var OnRow = 0;
    var OnVideo = -1;
    var Notes = new Array();
    var DataHold;

    $("#divMain").removeClass("container").addClass("container-fluid");
    $("#divVideoContainer").css("height", "480px");
    $("#VideoPlayer").removeClass("vjs-16-9").addClass("vjs-fill");//.css("height", "480px").css("width", "853px");
    $("#divVidList").css("height", window.innerHeight - 56);
    ShowVideoFrames();


    var skeleton = "<div class='d-flex no-gutters text-center notes-builder-row' onclick='TRClick(NumberRep)' id='trNumberRep'>";
    skeleton += "<div id='divNumberRepItem' class='col-5' style='font-size:.85rem'>";
    skeleton += "ItemRep";
    skeleton += "</div>";
    skeleton += "<div id='divNumberRepID' class='col-1'>";
    skeleton += "IDRep";
    skeleton += "</div>";
    skeleton += "<div id='divNumberRepVal' class='col-half'>";
    skeleton += "ValRep";
    skeleton += "</div>";
    skeleton += "<div id='divNumberRepFr' class='col-half'>";
    skeleton += "FrameRep";
    skeleton += "</div>";
    skeleton += "<div class='col-1'>";
    skeleton += "<input id='txtNumberRepCR' style='width:35px;height:19px' onkeyup='CRKeyUp(event,NumberRep)' title='Enter any combination of 1 2 3 or 4'>";
    skeleton += "</div>";
    skeleton += "<div class='col-1'>";
    skeleton += "<select id='ddlNumberRepColor' onchange='ddlColorChange(NumberRep)'><option value='Black'>Black</option><option value='Red'>Red</option><option value='Green'>Green</option><option value='Blue'>Blue</option><option value='Grey'>Grey</option></select>";
    skeleton += "</div>";
    skeleton += "<div class='col-2 pl-1'>";
    skeleton += "<select  id='ddlNumberRepNoValueType' onchange='ddlNoValueChange(NumberRep)'><option value='no'></option><option value='repeat'>repeat</option><option value='unrated'>unrated</option><option value='unrecognized'>unrecognized</option><option value='devalue'>1 DV lower</option><option value='upvalue'>1 DV higher</option><option value='special repitition'>special rep.</option></select>";
    skeleton += "</div>";
    skeleton += "<div class='col-1'>";
    skeleton += "<input type='checkbox' onclick='chkSkipFrameClick(NumberRep)' id='chkNumberRepSkipFrame'>";
    skeleton += "</div>";
    skeleton += "</div>";

    function AddNotesRow(CountIn,ElementTextIn,FrameIn,ElementIDIn, ElementValueIn,CRIn = '', ColorIn='Black',NoValueIn='no',SkipIn = false) {
        var SkelAdd = skeleton
        SkelAdd = SkelAdd.replace(/NumberRep/g, CountIn);
        SkelAdd = SkelAdd.replace("ItemRep", ElementTextIn);
        SkelAdd = SkelAdd.replace("FrameRep", FrameIn);
        SkelAdd = SkelAdd.replace("IDRep", ElementIDIn);
        SkelAdd = SkelAdd.replace("ValRep", ElementValueIn);
        if (OnRow == 0)
            $("#trBase").after(SkelAdd);
        else
            $("#tr" + (CountIn - 1)).after(SkelAdd);
        $("#ddl" + (CountIn) + "Color").val(ColorIn);
        $("#ddl" + (CountIn) + "NoValueType").val(NoValueIn);
        $("#txt" + (CountIn) + "CR").val(CRIn);
        $("#chk" + (CountIn) + "SkipFrame").prop('checked', SkipIn);
    }

    function AddElement_Click() {
        if ($("#ddlElement").val() != "" && OnVideo != -1) {
            ChangesMade = true;
            AddNewRow($("#ddlElement").val(), CurFrame, 'element');
        }
    }

    function UpdateElement_Click() {
        if (SelectedRow != -1 && $("#ddlElement").val() != "" && OnVideo != -1) {
            ChangesMade = true;
            Notes[SelectedRow].element_link_id = $("#ddlElement").val();
            $("#div" + SelectedRow + "Item").html(Elements[$("#ddlElement").val()].text);
            $("#div" + SelectedRow + "ID").html(Elements[$("#ddlElement").val()].idtext);
            $("#div" + SelectedRow + "Val").html(Elements[$("#ddlElement").val()].val);
        }
    }

    function AddUnrated_Click() {
        if ($("#ddlUnrated").val() != "" && OnVideo != -1) {
            ChangesMade = true;
            AddNewRow($("#ddlUnrated").val(), CurFrame, 'unrated');
        }
    }

    function UpdateUnrated_Click() {
        if (SelectedRow != -1 && $("#ddlUnrated").val() != "" && OnVideo != -1) {
            ChangesMade = true;
            Notes[SelectedRow].element_link_id = null;
            Notes[SelectedRow].unrated_link_id = $("#ddlUnrated").val();
            $("#div" + SelectedRow + "Item").html(Unrated[$("#ddlUnrated").val()].name);
            $("#div" + SelectedRow + "ID").html("-");
            $("#div" + SelectedRow + "Val").html("-");
        }
    }

    function UpdateRule_Click() {
        if (SelectedRow != -1 && $("#ddlRule").val() != "" && OnVideo != -1) {
            ChangesMade = true;
            Notes[SelectedRow].unrated_link_id = null;
            Notes[SelectedRow].rule_link_id = $("#ddlRule").val();
            $("#div" + SelectedRow + "Item").html(Rules[$("#ddlRule").val()].text);
            $("#div" + SelectedRow + "ID").html('-');
            $("#div" + SelectedRow + "Val").html('-');
        }
    }

    function CRKeyUp(e, crIn) {
        Notes[crIn].cr = $("#txt" + crIn + "CR").val();
        ChangesMade = true;
    }

    function ddlColorChange(rowIn) {
        Notes[rowIn].color = $("#ddl" + rowIn + "Color").val();
        ChangesMade = true;
    }

    function ddlNoValueChange(rowIn) {
        Notes[rowIn].no_value_type = $("#ddl" + rowIn + "NoValueType").val();
        ChangesMade = true;
    }

    function chkSkipFrameClick(rowIn) {
        Notes[rowIn].skip_frame = $("#chk" + rowIn + "SkipFrame").prop('checked');
        ChangesMade = true;
    }

    function Remove() {
        if (SelectedRow != -1) {
            ChangesMade = true;
            Notes.splice(SelectedRow, 1);
            var SelectedTemp = SelectedRow;
            LoadNotes();
            if (SelectedTemp < OnRow)
                TRClick(SelectedTemp);
            else
                TRClick(OnRow - 1);
        }
    }

    function SortNotes() {
        Notes.sort(function (a, b) { return a.frame - b.frame });
    }

    function Duplicate() {
        if (SelectedRow != -1) {
            ChangesMade = true;
            Notes[OnRow] = jQuery.extend({}, Notes[SelectedRow]);
            var SelectedTemp = SelectedRow;
            SortNotes();
            LoadNotes();
            TRClick(SelectedTemp);
        }
    }

    function UpdateFrame_Click() {
        if (SelectedRow != -1) {
            ChangesMade = true;
            var FrameHold = CurFrame;
            Notes[SelectedRow].frame = FrameHold;
            SortNotes();
            LoadNotes();
            for (var j = 0; j < Notes.length; j++) {
                if (Notes[j].frame == FrameHold) {
                    TRClick(j);
                    break;
                }
            }
        }

    }

    function AddRule_Click() {
        if ($("#ddlRule").val() != "" && OnVideo != -1) {
            ChangesMade = true;
            AddNewRow($("#ddlRule").val(), CurFrame, 'rule');
        }
    }

    function AddNewRow(IDIn, FrameIn, TypeIn = "element") {
        if (TypeIn == "element") {
            Notes[OnRow] = {
                color: "Black",
                cr: "",
                element_link_id: IDIn,
                frame: FrameIn,
                no_value_type: "no",
                override_text: "",
                rule_link_id: null,
                skip_frame: false,
                video_id: OnVideo
            };
        }
        else if (TypeIn == "rule") {
            Notes[OnRow] = {
                color: "Black",
                cr: "",
                element_link_id: null,
                frame: FrameIn,
                no_value_type: "no",
                override_text: "",
                rule_link_id: IDIn,
                skip_frame: false,
                video_id: OnVideo
            };
        }
        else if (TypeIn == "unrated") {
            Notes[OnRow] = {
                color: "Black",
                cr: "",
                unrated_link_id: IDIn,
                element_link_id: null,
                frame: FrameIn,
                no_value_type: "unrated",
                override_text: "",
                rule_link_id: null,
                skip_frame: false,
                video_id: OnVideo
            };
        }
        //console.log(Notes.length);
        SortNotes();
        LoadNotes();
        //OnRow++;
    }

    function TRClick(TRIn) {
        $(".notes-builder-row").removeClass("div-selected");
        $("#tr" + TRIn).addClass("div-selected");
        SelectedRow = TRIn;
    }

    function VideoClick(idIn, fileIn,el,FPSIn = 25) {
        if (ChangesMade)
	    {
		    if (confirm('Changes not saved, are you sure you want to go to a different video?'))
		    {
                ChangesMade = false;
		    }
		    else
		    {
			    return;
		    }

        }
        VidFPS = FPSIn;
        $("#divVidFramesSeconds").html("1 sec = " + VidFPS + "");
        ChangesMade = false;
        RemoveAll();
        ShowVideo(idIn, fileIn);
        $(".video-select").removeClass("div-selected");
        $(el).addClass("div-selected");
        OnVideo = idIn;
        GetNotes();
        PreviewNotesVideo();
        $("#txtFrameJump").show();
        $("#btnVidElement").hide();
    }

    function RemoveAll() {
        for (var j = 0; j < OnRow; j++) {
            $("#tr" + j).remove();
        }
        OnRow = 0;
    }

    function UpdateFrameCalled() {
        $("CurFrame").html("Frame: " + CurFrame);
    }

    function LoadNotes() {
        SelectedRow = -1;
        RemoveAll();
        for (var j = 0; j < Notes.length; j++) {
            delete Notes[j].timestamp;
            delete Notes[j].id;
            if (Notes[j].element_link_id != null) {
                //AddElement(Elements[Notes[j].element_link_id], Notes[j].frame);
                var el = Elements[Notes[j].element_link_id];
                console.log("Element: " + Notes[j].element_link_id);
                AddNotesRow(OnRow, el.text, Notes[j].frame, el.idtext, el.val, Notes[j].cr, Notes[j].color, Notes[j].no_value_type, Notes[j].skip_frame);
                
            }
            else if (Notes[j].rule_link_id != null) {
                console.log(j);
                //AddElement(Elements[Notes[j].element_link_id], Notes[j].frame);
                var rl = Rules[Notes[j].rule_link_id];
                AddNotesRow(OnRow, rl.text, Notes[j].frame, '-', '-', Notes[j].cr, Notes[j].color, Notes[j].no_value_type, Notes[j].skip_frame);
               
            }
            else if (Notes[j].unrated_link_id != null) {
                console.log(j);
                //AddElement(Elements[Notes[j].element_link_id], Notes[j].frame);
                var ur = Unrated[Notes[j].unrated_link_id];
                AddNotesRow(OnRow, ur.name, Notes[j].frame, '-', '-', Notes[j].cr, Notes[j].color, Notes[j].no_value_type, Notes[j].skip_frame);
               
            }
            OnRow++;
        }
    }
    function SaveNotes_Click() {
        SaveNotes()
        
    }
     function SaveNotes() {
        $.ajax({
            url: '/ajax/save_video_notes/',
            data: JSON.stringify({
                video: OnVideo,
                notes: Notes
            }),
            headers: { "X-CSRFToken": token },
            type:'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'text',
            success: function (data) {
                alert("Video Notes Updated");
                ChangesMade = false;
                PreviewNotesVideo();
            }
      });
    }

         function SaveNotesForPreview() {
        $.ajax({
            url: '/ajax/save_video_notes/',
            data: JSON.stringify({
                video: 'temp',
                notes: Notes
            }),
            headers: { "X-CSRFToken": token },
            type:'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'text',
            success: function (data) {
                $.get("/video_notes/?video=temp", function (data) {
                $("#divNotesArea").empty();
                $("#divNotesArea").append(data);
            });
            }
      });
    }

     function GetNotes () {
        $.ajax({
            url: '/get_video_notes/?video=' + OnVideo,
            success: function (data) {
                Notes = data.notes;
                LoadNotes();
            }
      });
    }

    function UpdatePreview_Click()
    {
        PreviewNotesData();
    }

    function PreviewNotesData() {
        SaveNotesForPreview();
    }

    function PreviewNotesVideo() {
         $.get('/video_notes/?video=' + OnVideo, function (data) {
                $("#divNotesArea").empty();
                $("#divNotesArea").append(data);
            });
    }

    function ChangeEvent(el) {
        window.location = "/video_notes_builder/?event=" + $(el).val().toLowerCase();
    }
</script>
{% endblock %}