{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<div class="row text-base">
    <div class="col-1" style="max-height:40px">
        {% for video in videos %}
        <div id="divVideo{{ video.id }}" onclick="VideoClick({{ video.id }},'{{ video.file }}')" style="cursor:pointer">{{ video.id }}</div>
        {% endfor %}
    </div>
    <div class="col-8">
        <div>
            {% include 'app/video.html' %}
        </div>
        <div>
            <select class="selectpicker">
                {% for element in elements %}
                <option value="{{ element.element.id }}">{{ element.short_text }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}

<script type="text/javascript">
    var SourceBase = "{% static 'app/videos/wag/' %}{{ event }}/";

</script>
<script src="{% static 'app/scripts/video_player.js' %}"></script>
<script type="text/javascript">
    $("#divMain").removeClass("container").addClass("container-fluid");
    $("#VideoPlayer").removeClass("vjs-16-9").css("height", "480px");
    function VideoClick(idIn, fileIn) {
        console.log(SourceBase + fileIn);
        ShowVideo(idIn, fileIn);
    }
</script>
{% endblock %}