{% load staticfiles %}
<div id="divVideoContainer">
    <video controls id="VideoPlayer" class="video-js vjs-16-9" disablePictureInPicture >
        <source src="{% static 'app/videos/' %}{{request.session.disc_path}}/{{ element.element.event|lower }}/{{element.element.videos.first.file}}" type="video/mp4">
    </video>
</div>
<div class="row no-gutters pt-1">
    <div class="col-xl-4 col-6">
        <div class="row no-gutters">
            <div class="col-2 text-center">
                <div style="cursor:pointer" class="font-weight-bold" onmouseup="VideoStepEnd();" onmouseout="VideoStepEnd();" onmousedown="VideoStep(-5);" title="-5 Frames">-5</div>
            </div>
            <div class="col-2 text-center">
                <div style="cursor:pointer" class="font-weight-bold" onmouseup="VideoStepEnd();" onmouseout="VideoStepEnd();" onmousedown="VideoStep(-1);" title="-1 Frames">-1</div>
            </div>
            <div class="col-4 text-center">
                <div id="VidFrameDisplay" class="text-center" onclick="$('#txtFrameJump').val($('#VidFrameDisplay').html())">0</div>
                 <div id="divVidFramesSecondsHolder" class="" style="font-size:0.6rem"><div id="divVidFramesSeconds"></div></div>
            </div>
            
            <div class="col-2 text-center">
                <div style="cursor:pointer" class="font-weight-bold" onmouseup="VideoStepEnd();" onmouseout="VideoStepEnd();" onmousedown="VideoStep(1);" title="+1 Frames">+1</div>
            </div>
            <div class="col-2 text-center">
                <div style="cursor:pointer" class="font-weight-bold" onmouseup="VideoStepEnd();" onmouseout="VideoStepEnd();" onmousedown="VideoStep(5);" title="+5 Frames">+5</div>
            </div>
        </div>
    </div>
    <div id="VidFramesArea" class="col-xl-3 col-md-1 col-1 d-flex justify-content-center">
        <div class="text-center"><input id="txtFrameJump" style="width:40px;height:25px;display:none" onkeypress="TextFrameJump(event)" />
        <div style="font-size:0.6rem">enter frame</div></div>
        
    </div>
    <div id="VidSpeedArea" class="col-5 col-xl-5">
        <div class="row no-gutters">
            <div class="col-12 col-lg-4 text-center" id="divsSpeedSliderValues">

            </div>
            <div class="col-12 col-lg-8 pb-2 pt-1">
                <div id="SpeedSlider"></div>
            </div>
            
        </div>
    </div>
    <div id="VidHudArea" class="col-12"></div>

</div>