{% load staticfiles %}
  
<div cladss="z-depth-1-half">
    <video controls  id="VideoPlayer" class="video-js vjs-16-9">
        <source src="{% static 'app/videos/wag/' %}{{ element.element.event }}/{{element.element.videos.first.file}}" type="video/mp4">
    </video>
</div>
<div class="row no-gutters pt-2">
    <div class="col-12 col-md-4 pr-4">
        <div class="row no-gutters">
            <div class="col-3 text-center">
                <i class="fas fa-fast-backward" style="font-size:1.6rem;cursor:pointer" onmouseup="VideoStepEnd();" onmouseout="VideoStepEnd();" onmousedown="VideoStep(-5);"></i>
            </div>
            <div class="col-3 text-center" style="padding-top:0.05rem">
                <i class="fas fa-step-backward" style="font-size:1.45rem;cursor:pointer" onmouseup="VideoStepEnd();" onmouseout="VideoStepEnd();" onmousedown="VideoStep(-1)"></i>
            </div>
            <div class="col-3 text-center"  style="padding-top:0.05rem">
                <i class="fas fa-step-forward"  style="font-size:1.45rem;cursor:pointer" onmouseup="VideoStepEnd();" onmouseout="VideoStepEnd();" onmousedown="VideoStep(1)"></i>
            </div>
            <div class="col-3 text-center">
                <i class="fas fa-fast-forward" style="font-size:1.6rem;cursor:pointer" onmouseup="VideoStepEnd();" onmouseout="VideoStepEnd();" onmousedown="VideoStep(5)"></i>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8">
        <div class="row no-gutters">
            <div class="col-8 pt-1">
                <div id="SpeedSlider"></div>
            </div>
            <div class="col-4 pl-4" id="divsSpeedSliderValues">
           
            </div>
        </div>
    </div>
            
</div>