{% block content %}
{% load staticfiles %}

<div id="NotesTitleD" class="font-weight-bold">D-Jury</div>
<div id="NotesD" style="border:1px solid black;font-size:0.8rem" class="p-1">
    {% for note in notes %}
    {% if note.element_link != None %}
        {% if note.skip_frame == False %}
        <div id="vn{{note.frame}}" class="video-note-line d-note video-note-color-{{note.color}}" onclick="VideoNoteClick({{note.frame}})">
        {% else %}
        <div>
        {% endif %}
            • {{note.element_link.elementtext_set.all.first.short_text}}
            {% if note.no_value_type == 'repeat' or note.no_value_type == 'unrated' or note.no_value_type == 'unrecognized' or note.no_value_type == 'special repitition' %}
                (no value, {{note.no_value_type}} element {{note.element_link.elementtext_set.all.first.id_number_text}})
            {% elif note.no_value_type == 'upvalue' %}
                (<span class="video-note-upvalue">{{note.element_link.up_value_letter}} value</span>, element {{note.element_link.elementtext_set.all.first.id_number_text}})
            {% elif note.no_value_type == 'devalue' %}
                (<span class="video-note-devalue">{{note.element_link.down_value_letter}} value</span>, element {{note.element_link.elementtext_set.all.first.id_number_text}})
            {% else %}
                ({{note.element_link.letter_value}} value, element {{note.element_link.elementtext_set.all.first.id_number_text}})
            {% endif %}
        </div>
      
    {% elif note.rule_link.type == "D" %}
        <div>
            {{note.rule_link.text}}
        </div>
    {% endif %}
    {% endfor %}
</div>
<div id="NotesTitleE" class="font-weight-bold">E-Jury</div>
<div id="NotesE" style="border:1px solid black;font-size:0.8rem" class="p-1">
    {% for note in notes %}
    {% if note.element_link != None %}
    <div>
        • {{note.element_link.elementtext_set.all.first.short_text}}
    </div>
    {% elif note.rule_link.type == "E" %}
        {% if note.skip_frame == False %}
        <div id="vnE{{note.frame}}" class="video-note-line e-note video-note-color-{{note.color}}" onclick="VideoNoteClickE({{note.frame}})">
        {% else %}
        <div>
        {% endif %}
             {{note.rule_link.text}}
        </div>
    {% endif %}
    {% endfor %}
</div>
<div style="display:none">
    <div id="divHud">
        <div id="divHudElements" class="no-gutters" style="max-height:120px;overflow-x:auto;white-space:nowrap">
        {% for note in notes %}
        {% if note.element_link != None %}
            {% if not forloop.first %}
            </div></div>
            {% endif %}
            <div id="divHud{{note.frame}}" frame="{{note.frame}}" style="position:relative;cursor:pointer" class="HudContainer" onclick="VideoNoteClick({{note.frame}})">
                {% if note.no_value_type == 'unrecognized' or note.no_value_type == 'repeat' or note.no_value_type == 'unrated' or note.no_value_type == 'special repitition' %}
                <img id="vsStrike{{note.frame}}" src="{% static 'app/images/'%}redstripe.svg" style="position:absolute;height:100px;top:0px">
                {% endif %}
                <div class="text-center">{{note.element_link.letter_value}}</div>
                <div class="text-center" style="max-height:62px"><img class="img-fluid detail-sym" src="{% static 'app/images/'%}{{request.session.disc_path}}/sym/{{ note.element_link.image_url}}.svg"/></div>
                <div class="text-center" style="font-size:0.6rem">
        {% elif note.rule_link != None %}
            {% if note.rule_link.deduction_amount > 0 %}
                0.{{note.rule_link.deduction_amount}}&nbsp;
            {% endif %}
        {% endif %}
        {% endfor %}
            </div></div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    var Frames = new Array();
    {% for note in notes %}
        {% if note.skip_frame == False and note.element_link != None %}
            Frames[{{forloop.counter0}}] = {{note.frame}};
        {% endif %}
    {% endfor %}
    Frames = Frames.filter(function (el) {
  return el != null;
});
     var FramesHUD = new Array();
    {% for note in notes %}
        {% if note.element_link != None %}
            FramesHUD[{{forloop.counter0}}] = {{note.frame}};
        {% endif %}
    {% endfor %}
      FramesHUD = FramesHUD.filter(function (el) {
  return el != null;
});

     var FramesE = new Array();
    {% for note in notes %}
        {% if note.skip_frame == False and note.rule_link.type == 'E' %}
            FramesE[{{forloop.counter0}}] = {{note.frame}};
        {% endif %}
    {% endfor %}
    FramesE = FramesE.filter(function (el) {
  return el != null;
});
</script>
<script type="text/javascript">
    function VideoNoteClick(frameIn) {
        VideoFrameJump(frameIn);
    }
    function VideoNoteClickE(frameIn) {
        VideoFrameJumpPause(frameIn);
    }
    function HighlightNote(frameIn) {
        var highest = -1;
        for (var i = 0; i < Frames.length; i++) {
            if (Frames[i] > frameIn) {
                if (i > 0)
                    highest = Frames[i - 1];
                else
                    highest = -2;
                break;
            }
        }
        if (highest == -1)//not set means its last one
            highest = Frames[Frames.length - 1];
        $(".d-note").removeClass("video-note-selected");
        if (highest != -2) {//-2 means its none
            $("#vn" + highest).addClass("video-note-selected");
        }

        highest = -1;
        for (var i = 0; i < FramesE.length; i++) {
            if (FramesE[i] > frameIn) {
                if (i > 0)
                    highest = FramesE[i - 1];
                else
                    highest = -2;
                break;
            }
        }
        if (highest == -1)//not set means its last one
            highest = FramesE[FramesE.length - 1];
        $(".e-note").removeClass("video-note-selected");
        if (highest != -2) {//-2 means its none
            $("#vnE" + highest).addClass("video-note-selected");
        }

        /*var MaxHUDShow = -1;
        for (var i = 0; i < FramesHUD.length; i++) {
            if (FramesHUD[i] < frameIn) {
              $("#divHud" + FramesHUD[i])
            }
        }*/
         $('.HudContainer').filter(function () {
            return $(this).attr("frame") > frameIn;
        }).hide();
        $('.HudContainer').filter(function () {
            return $(this).attr("frame") <= frameIn;
        }).css("display","inline-block")
        $("#divHudElements").scrollLeft(100000);
        //console.log(highest);
    }
</script>

{% endblock %}